.container {
  max-width: 450px;
  margin: 50px auto;
}

.toggleWrapper {
  display: flex;

  margin-bottom: 24px;
  padding: 4px;

  /* pxtorem-disable-next-line */
  border: 1px solid var(--accent-text-color);
  border-radius: 12px;

  background: var(--auxiliary-bg-color-2);

  @include mobile {
    margin-inline: 10px;
  }
}

.toggleButton {
  cursor: pointer;

  flex: 1;

  padding: 10px;

  /* pxtorem-disable-next-line */
  border: none;
  border-radius: 10px;

  color: var(--auxiliary-text-color);

  background: transparent;

  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease;
}

.isActive {
  /* pxtorem-disable-next-line */
  border: 1px solid var(--accent-text-color);

  font-size: 20px;
  color: var(--main-text-color);

  background: var(--basic-gradient);

  -webkit-text-stroke: 0.1px black;
}

.formCard {
  padding: 32px;

  /* pxtorem-disable-next-line */
  border: 1px solid var(--accent-text-color);
  border-radius: 20px;

  text-align: center;

  background: var(--auxiliary-bg-color-2);
  box-shadow: 0 10px 30px rgb(0 0 0 / 5%);

  @include mobile {
    margin-inline: 10px;
  }

  h2 {
    margin-bottom: 24px;
    font-size: 24px;
  }
}

.divider {
  display: flex;
  align-items: center;
  margin: 20px 0;
  color: var(--accent-text-color);

  &::before,
  &::after {
    content: "";

    flex: 1;

    height: 1px;
    margin: 0 10px;

    background: var(--accent-text-color);
  }
}

span,
a,
p {
  color: var(--main-text-color);
}

.error {
  color: var(--color-danger);
}
