.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  animation: fade-in 0.3s ease-out;
}

.header {
  margin-bottom: 10px;
  text-align: center;

  h3 {
    margin-bottom: 8px;
    font-size: 1.5rem;
    color: var(--accent-text-color);
  }

  p {
    font-size: 0.9rem;
    line-height: 1.4;
    color: var(--main-text-color);
  }
}

// Класс для OTP-инпута:
.otpInput {
  input {
    height: 60px;
    padding: 12px;

    font-size: 1.8rem; // Крупный шрифт для читаемости
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.5rem; // Разнос цифр (как в банковских приложениях)

    &::placeholder {
      font-size: 1rem;
      font-weight: 400;
      letter-spacing: normal; // Плейсхолдер обычный
      opacity: 0.5;
    }
  }
}

@keyframes fade-in {
  from {
    transform: translateY(10px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
