.hideOnLaptopS {
  @include laptop-s {
    display: none !important;
  }
}

.hideOnTablet {
  @include tablet {
    display: none !important;
  }
}

.hideOnMobile {
  @include mobile {
    display: none !important;
  }
}

.hideOnMobileS {
  @include mobile-s {
    display: none !important;
  }
}

.clientInfo {
  max-width: 150px;
  word-break: break-all;
}

.orderNumber {
  font-weight: bold;
}

.clientInfo {
  font-size: 0.85rem;
}

.clientMeta {
  color: var(--auxiliary-text-color);
}

.itemsList {
  font-size: 0.8rem;
}

.statusSucceeded {
  color: var(--color-success);
}

.statusFailed {
  color: var(--color-danger);
}

.totalPrice {
  font-weight: bold;
}

.datesBlock {
  font-size: 0.75rem;
  color: var(--auxiliary-text-color);
}

.deliveryDate {
  color: var(--color-rating);
}

select {
  &[data-status="PAID"] {
    color: var(--color-rating) !important;
  }

  &[data-status="CANCELED"] {
    color: var(--color-danger);
  }

  &[data-status="DELIVERY"] {
    color: rgb(145, 162, 255);
  }

  &[data-status="DELIVERED"] {
    color: var(--color-success);
  }

  &[data-status="COMPLETED"] {
    color: var(--auxiliary-text-color);
  }
}
