.profileHeader {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
  justify-content: space-between;

  margin-top: 10px;
  margin-bottom: 40px;
  padding: 30px;

  /* pxtorem-disable-next-line */
  border: 1px solid var(--accent-text-color);
  border-radius: 20px;

  background-color: var(--auxiliary-bg-color-2);
  box-shadow: 0 4px 20px rgb(0 0 0 / 5%);

  @include tablet {
    justify-content: center;
    padding: 10px;
    text-align: center;
  }

  @include mobile-s {
    gap: 15px;
  }

  p {
    color: var(--accent-text-color);
  }

  .titleSection {
    display: flex;
    flex-direction: column;
    text-align: center;

    h3 {
      margin-block: 5px;
      word-break: break-all; // Разрывает слово в любом месте (если нужно)

      // Перенос текста: // Старый стандарт
      overflow-wrap: break-word; // Современный стандарт

      @include mobile-s {
        font-size: 20px;
      }
    }
  }
}
