.container {
  width: 100%;
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 120px 20px 60px;
}

.title {
  font-size: 2.5rem;
  font-weight: 900;
  text-transform: uppercase;

  span {
    color: var(--accent-text-color);
  }
}

.divider {
  width: 60px;
  height: 4px;
  margin: 20px 0 50px;
  background: var(--accent-text-color);
}

.newsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}

.emptyState {
  max-width: 600px;
  margin: 0 auto;
  padding: 60px 20px;

  /* pxtorem-disable-next-line */
  border: 1px dashed rgb(255 255 255 / 10%);
  border-radius: 12px;

  font-size: 1.1rem;
  line-height: 1.5;
  color: var(--auxiliary-text-color);
  text-align: center;

  background: var(--auxiliary-bg-color-2);
}

.loader {
  padding-top: 150px;

  font-size: 1.3rem;
  font-weight: 600;
  color: var(--main-text-color);
  text-align: center;
}

.header {
  @include tablet {
    text-align: center;
  }
}
