# ------------Адрес бэкенда:----------
# Указать свой:
VITE_API_URL=http://localhost

# ------------Google reCaptcha v3--------
# Публичный ключ (указать свой):
VITE_GOOGLE_RECAPTCHA_SITE_KEY=AAAAAAAAAAAAAaaaaaaaaaaaaAA_AAAaaa
# Для его получения зайти на https://www.google.com/u/1/recaptcha/admin/create.
# Выбрать версию v3, в домене указать свой. Google выдаст 2 ключа - секретный и публичный. 
# Секретный ключ поместить в .env проекта.

# -------------Chromatic:-------
# Для удобного запуска Chromatic через команду "npm run chromatic" указать тут свой токен Chromatic:
CHROMATIC_PROJECT_TOKEN=chpt_111111111аааа

# ------------Yandex Метрика:-----------
# ID (указать свой - получить на https://yandex.ru/adv/metrika):
VITE_YANDEX_METRICA_ID=111111111