.orderCard {
  overflow: hidden;

  margin-bottom: 24px;

  /* pxtorem-disable-next-line */
  border: 1px solid var(--accent-text-color);
  border-radius: 12px;

  background: var(--auxiliary-bg-color-2);

  transition: border-color 0.3s ease;

  @include hover {
    border-color: var(--accent-text-color);
    box-shadow: 0 0 20px var(--accent-text-color);
  }
}

.topBar {
  display: flex;
  justify-content: center;

  padding: 12px 24px;

  /* pxtorem-disable-next-line */
  border-bottom: 1px solid var(--accent-text-color);

  font-size: 0.9rem;
  font-weight: 500;
  color: var(--main-text-color);

  background: var(--accent-bg-color);
}

.mainContent {
  display: grid;
  grid-template-columns: 220px 1fr;
  min-height: 160px;

  @include tablet {
    grid-template-columns: 1fr;
  }
}

.leftPanel {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;

  padding: 24px;

  /* pxtorem-disable-next-line */
  border-right: 1px solid var(--accent-text-color);

  background: var(--auxiliary-bg-color-2);

  @include tablet {
    flex-flow: row wrap;
    align-items: center;
    padding: 10px 14px;
    border: none;
  }

  @include mobile-s {
    gap: 10px;
  }

  .leftPanelWrapper,
  .leftPanelWrapperStatus {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 14px;
    align-items: center;

    width: 100%;

    @include tablet {
    }

    button {
      width: 100%;
    }
  }

  .leftPanelWrapperStatus {
    display: flex;
    flex-direction: column;
    text-align: center;
    @include mobile {
      flex-direction: column;
    }
  }

  .leftPanelWrapperStatusSolo {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include tablet {
      flex-direction: row;
    }
  }

  .infoGroup {
    display: flex;
    flex-direction: column;
    gap: 4px;

    span {
      &:not(:first-child) {
        text-align: center;
      }
    }

    .label {
      font-size: 0.75rem;
      color: var(--auxiliary-text-color);
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    .value {
      font-size: 1.1rem;
      font-weight: 800;
      color: #fff;
    }

    .status {
      padding: 4px 8px;
      border-radius: 8px;

      font-size: 0.85rem;
      font-weight: 700;
      text-transform: uppercase;

      &.pending {
        color: var(--color-orange);
        background: var(--main-bg-color);
      }

      &.canceled {
        color: var(--color-danger);
        background: var(--main-bg-color);
      }

      &.paid {
        color: var(--color-rating);
        background: var(--main-bg-color);
      }

      &.delivery {
        color: #7cb4da;
        background: var(--main-bg-color);
      }

      &.delivered {
        color: var(--color-success);
        background: var(--main-bg-color);
      }

      &.completed {
        color: var(--color-light);
        background: var(--main-bg-color);
      }
    }
  }
}

.itemsList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 0;
}

// --------------Модалка отмены заказа:------------//
.modalOverlay {
  position: fixed;
  z-index: 5000;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgb(0 0 0 / 85%);
  backdrop-filter: blur(5px);
}

.modalContent,
.modalContentSuccess {
  width: 90%;
  max-width: 400px;
  padding: 30px;
  border-radius: 20px;

  text-align: center;

  background: var(--auxiliary-bg-color);
}

.modalContent {
  /* pxtorem-disable-next-line */
  border: 1px solid var(--color-danger);
}

.modalContentSuccess {
  /* pxtorem-disable-next-line */
  border: 1px solid var(--color-success);
}

.modalTitle,
.modalTitleSuccess {
  margin-bottom: 20px;
  padding-inline: 5px;

  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.modalTitle {
  color: var(--color-danger);
}

.modalTitleSuccess {
  color: var(--color-success);
}

.modalText {
  margin-bottom: 30px;

  span {
    font-family: monospace;
    color: #888;
  }
}

.modalActions {
  display: flex;
  gap: 15px;
}
