.hideOnMobile {
  @include mobile {
    display: none !important;
  }
}

.hideOnMobileS {
  @include mobile-s {
    display: none !important;
  }
}

.promoCode {
  color: var(--color-rating);
}

.client {
  max-width: 150px;
  word-break: break-all; // Разрывает слово в любом месте (если нужно)

  // Перенос текста: // Старый стандарт
  overflow-wrap: break-word; // Современный стандарт
}
