.wrapper {
  width: 100%;
  overflow: hidden;
  background: var(--auxiliary-bg-color-2);
  padding: 20px 0;

  @include mobile {
    padding: 10px 0;
  }
}

.scrollContainer {
  display: flex;
  gap: 15px;
  overflow-x: auto;
  padding: 0 20px;

  // Плавный скролл и "прилипание"
  scroll-snap-type: x mandatory;
  scrollbar-width: thin; //Тонкий скроллбар для Firefox

  //--- Для Firefox ---
  scrollbar-width: thin; //Толщина: auto, thin, none
  scrollbar-color: var(--accent-text-color) var(--main-bg-color); /* Цвет ползунка и цвет дорожки */

  //--- Для Chrome, Safari, Edge ---
  &::-webkit-scrollbar {
    height: 8px; //Высота для горизонтального скролла
    width: 8px; //Ширина для вертикального скролла
  }

  &::-webkit-scrollbar-track {
    background: #333; /* Цвет дорожки */
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--accent-text-color); //Цвет ползунка
    border-radius: 10px;
    /* pxtorem-disable-next-line */
    border: 2px solid #333; //Отступ вокруг ползунка (имитация gap)
  }

  &::-webkit-scrollbar-thumb:hover {
    background: var(--accent-text-color);
  }
}

.item {
  flex: 0 0 300px; //Жесткая ширина ячейки
  height: 200px;
  scroll-snap-align: start; //
  border-radius: 8px;
  overflow: hidden;

  @include mobile {
    flex: 0 0 200px;
    height: 133px;
  }

  a {
    display: block;
    line-height: 0; //Убираем лишний отступ снизу под картинкой

    &:focus-visible {
      outline: 2px solid var(--accent-text-color);
      outline-offset: -3px !important;
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;

    @include hover {
      transform: scale(1.05);
    }
  }
}
