# Зависимости:
node_modules
**/node_modules
npm-debug.log*

# Сборка и кэш:
dist
/apps/web/dist
/apps/server/dist
build
.turbo
.next
.cache

# Конфиги и секреты:
.env
.env.*
!.env.example
.git
.github
.vscode
.VSCodeCounter
.eslintcache
.stylelintcache

# Логи и дампы
*.log
docker-compose*.yml
docker-desktop-data
