# --------------------Основные домены:----------------------
# Адрес бэкенд-сервера:
API_URL=http://localhost
# Порт бэкенд-сервера:
PORT=3001

# Адрес фронтенда:
CLIENT_URL=http://localhost
# --------------------Подключение к PostgreSQL:-------------
DATABASE_URL=postgresql://admin:password@postgres:5432/cybersite_db?schema=public

# --------------------Подключение к Redis:------------------
REDIS_HOST=redis
REDIS_PORT=6379

# --------------------Подключение к MongoDB:----------------
MONGO_URI=mongodb://admin:password@mongodb:27017/cybersite_db?authSource=admin

#---------------------Настройка elasticsearch:--------
ELASTIC_NODE=http://elasticsearch:9200


#---------------------Настройка Loki:--------
LOKI_URL=http://loki:3100

#---------------------Настройка почтового сервиса:----------
# Домен STMP-сервера (не изменять):
SMTP_HOST='smtp.gmail.com'
# Порт STMP-сервера (не изменять):
SMTP_PORT=587
# Указать свой email, с которого будут отправляться сообщения пользвателям:
SMTP_USER=example@gmail.com
#На своем почтовом ящике Google необходимо включить двухфакторную
#аутентификацию. Затем в настройках найти "Пароли приложений"
#и там сгенерировать для приложения 16-значный пароль и его
#использовать далее (а не пароль от аккаунта):
SMTP_PASSWORD=aaaaaaaaaaaaaaaa

#---------------------Настройка аутентификации на сервере:----
#Тут нужно указать рандомные строки:
JWT_ACCESS_SECRET=G4NBbaPX+xTRkJwgKlsn5nOlZP/gvZCUBzBtqZGWSoc=
JWT_REFRESH_SECRET=Cye/URPoNR+vPAUKZ7w3fietTTzJefdyxaPozjZHAgg=
#Для генерации можно использовать команду "openssl rand -base64 32"

#---------------------Настройка OAuth Google:----------------
# ID и SECRET (указать свои): 
GOOGLE_CLIENT_ID=11111111111-аааааааааааааааааааааааааааааа.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=FFFFFF-fffFFff_FFFFffff-111Fffff
# Для этого зайти на https://console.cloud.google.com/, создать нового клиента (Web Application).
# Затем в "Authorized JavaScript origins" добавить URL своего фронтенда (http://localhost). 
# В "Authorized redirect URIs" добавить этот роут:
GOOGLE_CALLBACK_URL=http://localhost/api/identity/auth/google/callback
# Адрес, на которой Google отправит ответ:

#---------------------Настройка Google reCaptcha v3---------
# Секретный ключ (указать свой):
GOOGLE_RECAPTCHA_SECRET_KEY=4ffffFFFfffffdfffffFFFfff-4FFF
# Для его получения зайти на https://www.google.com/u/1/recaptcha/admin/create.
# Выбрать версию v3, в домене указать свой. Google выдаст 2 ключа - секретный и публичный. 
# Публичный ключ поместить в .env фронтенда.

# --------------------Подключение к ЮKassa:------------------
# Перейти на сайт https://yookassa.ru/developers/payment-acceptance/getting-started/quick-start
# Будет текст "Если вы хотите оценить возможности API, но у вас пока нет личного кабинета в ЮKassa, зарегистрируйтесь по этой ссылке.". Нажать на эту ссылку и создать тестовый магазин без полноценной регистрации.
# Из тестового магазина взять ShopID (Настройки --> Магазин) и Secret Key (Интеграция --> Ключи API).

# ID тестового магазина (указать свой):
YOOKASSA_SHOP_ID='1111111'
# Секретный ключ тестового магазина (указать свой):
YOOKASSA_SECRET_KEY='test_111_AAAAAAaaaaaAAAAAAaaaa'
# Куда произвести редирект пользователя после оплаты (указать свой домен):
YOOKASSA_RETURN_URL=http://localhost/orders/my 
# IP-адреса, с которых ЮKassa может отправить ответ (не изменять):
YOOKASSA_IPS=185.71.76.0/27,185.71.77.0/27,77.75.153.0/25,77.75.153.78,77.75.154.206,77.75.154.128/25,77.75.156.11,77.75.156.35,2a02:5180::/32

# Юкасса после оплаты будет слать ответ на URL, который следует указать в тестовом магазине. Там нельзя указать локальный URL, поэтому рекомендую использовать ngrok, чтобы превратить наш локальный адрес сервера, например, http://localhost:3001/ в публичный. В ЛК Юкассы "Интеграция --> HTTP-уведомления", там в URL указать домен с ngrok (полный путь, например, https://aaa-aaaaaaaa-aaaaaaa.ngrok-free.dev/api/payment/webhook)

# --------------------Telegram:------------------
# API Token бота (указать свой):
TG_BOT_TOKEN=11111111111:AAAAAaaaaaaaaaAAAAAAAAAAAA
# Создать своего бота следует при помощи @BotFather

# Личный ID пользователя ТГ (админа проекта) (указать свой):
TG_ADMIN_CHAT_ID=1111111111
# Для получения использовать @userinfobot
