# Подробности смотри в .env.sample
API_URL=https://cybersite.ru
CLIENT_URL=https://cybersite.ru

POSTGRES_USER=admin
POSTGRES_PASSWORD=password
POSTGRES_DB=cybersite_db
DATABASE_URL=postgresql://admin:password@postgres:5432/cybersite_db?schema=public

MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=password

SMTP_USER=example@gmail.com
SMTP_PASSWORD=aaaaaaaaaaaaaaa

GOOGLE_CLIENT_ID=11111111111-аааааааааааааааааааааааааааааа.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=FFFFFF-fffFFff_FFFFffff-111Fffff

GOOGLE_CLIENT_ID=11111111111-аааааааааааааааааааааааааааааа.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=FFFFFF-fffFFff_FFFFffff-111Fffff
GOOGLE_CALLBACK_URL=https://cybersite.ru/api/identity/auth/google/callback

YOOKASSA_SHOP_ID='111111111'
YOOKASSA_SECRET_KEY='test_111_AAAAAAaaaaaAAAAAAaaaa'
YOOKASSA_RETURN_URL=https://cybersite/orders/my 

TG_BOT_TOKEN=11111111111:AAAAAaaaaaaaaaAAAAAAAAAAAA
TG_ADMIN_CHAT_ID=1111111111

# Без изменений:
SMTP_HOST='smtp.gmail.com'
SMTP_PORT=587
ELASTIC_NODE=http://elasticsearch:9200
LOKI_URL=http://loki:3100
PORT=3001
YOOKASSA_IPS=185.71.76.0/27,185.71.77.0/27,77.75.153.0/25,77.75.153.78,77.75.154.206,77.75.154.128/25,77.75.156.11,77.75.156.35,2a02:5180::/32
REDIS_HOST=redis
REDIS_PORT=6379

