# Зависимости 
node_modules/
**/node_modules/

# Сборка и кэш
dist/
build/
.turbo/
.next/
.cache/
tsconfig.tsbuildinfo

# Логи и переменные окружения
*.log
.env
.env.*
!.env.example
!.env.sample

# Системные файлы
.DS_Store
Thumbs.db

# Конфиги IDE
.vscode/
.idea/

# Прочее:
docsMy/


# Папка от Prisma:
generated/


*storybook.log
storybook-static

datasets-prepare
shaft.txt
info.txt