.Header {
  position: sticky;
  top: 0;
  z-index: 1000;

  /* pxtorem-disable-next-line */
  border-bottom: 1px solid var(--accent-text-color);

  width: 100%;

  background: var(--main-bg-color);
}

.container {
  width: 100%;
  max-width: var(--container-width);
}

// --------------------------------------------------------- //
// 1.Верхняя секция Header: //
// --------------------------------------------------------- //
.topLine {
  display: flex;
  justify-content: center;

  padding-block: 16px;
  /* px-to-rem-disable-next-line */
  /* pxtorem-disable-next-line */
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);

  @include tablet {
    padding-block: 14px;
  }

  @include mobile {
    padding-inline-start: 30px;
    padding-inline-end: 150px;
  }

  .topWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    @include tablet {
      flex-direction: column-reverse;
      gap: 10px;
    }

    @include mobile {
      flex-direction: row;
      gap: 10px;
    }
  }

  .logolinkHidden {
    height: 33px;

    background: none;

    opacity: 0.9;

    @include mobile-above {
      display: none;
    }

    @include mobile-s {
      display: none;
    }

    @include hover {
      opacity: 1;
    }
  }
}

// ---------------------------------------------------------
// 2.Нижняя часть Header:
// ---------------------------------------------------------
.mainLine {
  display: flex;
  justify-content: center;

  padding-block: 30px;

  backdrop-filter: blur(10px);

  @include tablet {
    padding-block: 20px;
  }

  @include mobile-s {
    padding-block: 10px;
  }

  .mainWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    @include laptop-s {
      gap: 10px;
    }

    @include tablet {
      flex-direction: column-reverse;
    }

    .leftBotMenu {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px;

      @include laptop-s {
        gap: 10px;
      }

      @include mobile {
        flex-direction: column;
      }
    }

    .rightBotMenu {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px;

      @include laptop-s {
        gap: 10px;
      }

      @include tablet {
        gap: 24px;
      }

      @include mobile {
        display: none;
      }
    }
  }
}

.logo {
  width: 100%;
  height: auto;

  opacity: 0.9;

  @include hover {
    scale: 1.1;
    opacity: 1;
  }
}

.logolink {
  width: 20%;

  @include mobile {
    display: none;
  }
}
