// @use "helpers" as *;

.Header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
  background: var(--main-bg-color);
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.container {
  width: 100%;
  max-width: var(--container-width);
  // margin: 0 auto;
  // padding: 20px;

  // @include tablet {
  //   padding: 10px;
  // }
}

// ---------------------------------------------------------
// 1.Верхняя секция Header, включающая только служебные ссылки
// ---------------------------------------------------------
.topLine {
  display: flex;
  justify-content: center;
  padding-block: 16px;
  /* px-to-rem-disable-next-line */
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);

  @include tablet {
    padding-block: 14px;
  }

  @include mobile {
    padding-inline-start: 30px;
    padding-inline-end: 150px;
  }

  .topWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    @include tablet {
      gap: 10px;
    }

    @include mobile {
      // padding-right: 10px;
      gap: 10px;
    }
  }

  .topNav {
    // width: 100%;
    display: flex;
    gap: 25px;

    @include tablet {
      gap: 12px;
    }

    @include mobile {
      display: none;
    }

    a {
      font-size: 0.8rem;
      color: var(--auxiliary-text-color);
      transition: color 0.2s;

      &:hover {
        color: var(--accent-text-color);
      }
    }
  }

  .logolinkHidden {
    opacity: 0.9;
    // width: 30%;
    height: 33px;

    @include mobile-above {
      display: none;
    }

    @include mobile-s {
      display: none;
    }

    &:hover {
      opacity: 1;
    }
  }
}

// ---------------------------------------------------------
// 2.Нижняя часть Header, включающая логотип, кнопку каталога, поиск, профиль и т.п.
// ---------------------------------------------------------
.mainLine {
  display: flex;
  justify-content: center;
  // padding: 15px 0;
  // background: rgba(10, 10, 10, 0.8);
  backdrop-filter: blur(10px);
  padding-block: 30px;

  @include tablet {
    padding-block: 20px;
  }

  @include mobile-s {
    padding-block: 10px;
  }

  .mainWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    @include laptop-s {
      gap: 10px;
    }

    @include tablet {
      flex-direction: column-reverse;
    }

    .leftBotMenu {
      display: flex;
      flex-direction: row;
      gap: 20px;
      align-items: center;

      @include laptop-s {
        gap: 10px;
      }

      @include mobile {
        flex-direction: column;
      }
    }

    .rightBotMenu {
      display: flex;
      flex-direction: row;
      gap: 20px;
      align-items: center;

      @include laptop-s {
        gap: 10px;
      }

      @include tablet {
        gap: 24px;
      }

      @include mobile {
        display: none;
      }
    }
  }
}

.logo {
  height: auto;
  width: 100%;
  opacity: 0.9;

  &:hover {
    opacity: 1;
    scale: 1.1;
  }
}

.logolink {
  width: 20%;

  @include mobile {
    display: none;
  }
}

//Кнопка каталога:
.catalogWrapper {
  position: relative;
  display: inline-block;
  align-items: center;
}

.catalogBtn {
  flex-shrink: 0;
  width: 135px;
  display: flex;
  align-items: center;
  gap: 10px;
  // background: var(--accent-bg-color);
  // color: var(--color-dark);
  background: var(--main-bg-color);
  color: var(--accent-text-color);
  border: 1px solid var(--accent-text-color);
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: 700;
  text-decoration: none;
  transition: transform 0.2s;

  @include mobile {
    width: 260px;
    height: 30px;
    justify-content: center;
  }

  &:hover {
    opacity: 0.8;
  }

  .burger {
    font-size: 1.2rem;
  }
}

//Поиск:
.searchBox {
  flex-shrink: 0;
  min-width: 260px;
  flex: 1;
  // max-width: 500px;
  // margin: 0 40px;
  position: relative;
  display: flex;

  @include mobile {
    max-width: 200px;
  }

  input {
    width: 100%;
    background: #151515;
    border: 1px solid #333;
    padding: 12px 20px;
    border-radius: 8px 0 0 8px;
    color: #fff;
    outline: none;

    @include mobile {
      height: 40px;
    }

    @include mobile-s {
      height: 35px;
    }

    &:focus {
      border-color: var(--accent-text-color);
    }
  }

  button {
    background: var(--auxiliary-bg-color-2);
    border: 1px solid #333;
    border-left: none;
    color: var(--accent-text-color);
    padding: 0 20px;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
    font-weight: 600;

    &:hover {
      background: var(--auxiliary-bg-color);
    }
  }
}

//Блок с данными профиля:
.userActions {
  display: flex;
  align-items: center;
  gap: 25px;

  @include mobile {
    display: none;
  }
}

.profileLink {
  // flex-shrink: 1;
  // min-width: 150px;
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 500;

  .userName {
    display: inline-block;
    max-width: 210px;
    white-space: nowrap; //Запрещаем перенос на новую строку
    overflow: hidden; //Скрываем всё, что не влезло
    text-overflow: ellipsis; //Добавляем "..."
  }

  .avatar {
    flex-shrink: 0;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    overflow: hidden;
    background: #222;
    border: 2px solid rgba(255, 255, 255, 0.1);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.userInfo {
  color: var(--main-text-color);

  overflow: hidden;

  &:hover {
    color: var(--accent-text-color);
  }
}

//Блок с избранным, корзиной и заказами:
.userOrders {
  display: flex;
  flex-direction: row;
  gap: 10px;

  @include tablet {
    gap: 12px;
  }

  @include mobile {
    display: none;
  }

  .iconBtn {
    background: none;
    border: none;
    color: rgba(10, 10, 10, 0.8);
    font-size: 1.4rem;
    cursor: pointer;
    position: relative;
    transition: opacity 0.2s;

    &:hover {
      opacity: 0.7;
    }

    .counter {
      position: absolute;
      top: -7px;
      right: -7px;
      background: #f39c12;
      color: #000;
      font-size: 0.7rem;
      font-weight: 800;
      padding: 2px 6px;
      border-radius: 20px;
      min-width: 18px;
    }
  }
}

//-------------------Стили для выпадающего каталога:
.dropdown {
  position: absolute;
  top: 100%; // Ровно под кнопкой
  left: 0; // Прижимаем к левому краю кнопки
  z-index: 1100; //Должен быть выше всех элементов на странице

  @include laptop-s {
    left: -40%;
  }

  @include tablet {
    display: none;
  }
}

.dropdownContent {
  display: flex;
  // background: var(--color-light);
  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  width: 900px;
  background-color: var(--auxiliary-bg-color-2);
  border: 1px solid var(--accent-text-color);

  span {
    color: var(--main-text-color);

    &:hover {
      color: var(--accent-text-color);
    }

    strong {
      color: var(--accent-text-color);
      font-weight: bold;
    }
  }
}

//Левая часть:
.sideNav {
  width: 220px;
  // background: #f8f8f8;
  border-right: 1px solid var(--accent-text-color);
  padding: 10px 0;
  // background-color: var(--auxiliary-bg-color-2);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

  span {
    &:hover {
      color: var(--color-dark);
    }
  }

  @include laptop-s {
    width: 180px;
  }
}

.sideItem {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  gap: 12px;
  cursor: pointer;
  // color: var(--accent-text-color);
  font-size: 0.9rem;
  transition: all 0.2s;

  @include laptop-s {
    gap: 8px;
  }

  img {
    width: 24px;
    height: 24px;
    opacity: 0.7;
  }

  &.activeSide {
    background: var(--accent-text-color);
    color: var(--main-text-color);
    font-weight: 600;
    img {
      opacity: 1;
      filter: sepia(1) saturate(5) hue-rotate(10deg);
    }
  }

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
    // span {
    //   &:hover {
    //     color: var(--auxiliary-bg-color-2);
    //   }
    // }
  }

  .arrow {
    margin-left: auto;
    color: var(--auxiliary-text-color);

    &:active {
      color: var(--main-text-color);
    }
  }
}

//Правая часть:
.mainPanel {
  flex: 1;
  padding: 30px;

  @include laptop-s {
    padding-block: 20px;
    padding-inline: 15px;
  }
}

.brandsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); // 3 колонки брендов
  gap: 20px 40px;

  @include laptop-s {
    gap: 10px 10px;
  }
}

.brandItem {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 12px;
  text-decoration: none;
  // color: #666;
  font-size: 0.95rem;
  text-align: left;

  .brandIcon {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include laptop-s {
      width: 28px;
      height: 28px;
    }

    img {
      max-width: 100%;
      // filter: grayscale(1);
    }
  }

  &:hover {
    color: #000;
    .brandIcon img {
      scale: 1.2;
    }
  }
}

////-----------Подсказки при поиске:
.searchBox {
  position: relative;

  button {
    border: 1px solid var(--accent-text-color);
  }
}

.suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: var(--auxiliary-bg-color);
  border: 1px solid #333;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  margin-top: 2px;
  overflow: hidden;
  animation: slideDown 0.2s ease-out;
  z-index: 1200;
}

.suggestItem {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px 15px;
  text-decoration: none;
  transition: background 0.2s;
  border-bottom: 1px solid #222;

  &:last-child {
    border: none;
  }

  &:hover {
    background: #252525;
    .suggestModel {
      color: var(--accent-text-color);
    }
  }
}

.suggestImg {
  width: 50px;
  height: 35px;
  background: #000;
  border-radius: 4px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.suggestInfo {
  display: flex;
  flex-direction: column;
}

.suggestModel {
  color: var(--main-text-color);
  font-size: 0.9rem;
  font-weight: 500;
  transition: color 0.2s;
}

.suggestYear {
  color: #666;
  font-size: 0.75rem;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

//Счетчик заказов:
.orderCounter {
  background-color: #3498db;
  right: -5px;
  top: -5px;
}
//---------------------------------------------------------
//Переключатели темы:
.themeSwitcher {
  display: flex;
  gap: 10px;

  @include tablet {
    gap: 3px;
  }

  img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition:
      filter 0.3s ease,
      transform 0.2s;

    &.inactive {
      filter: grayscale(100%);

      &:hover {
        filter: grayscale(50%);
      }
    }

    &.active {
      filter: grayscale(0%);
      transform: scale(1.1);
    }
  }
}
