.adminContainer {
  display: flex;
  min-height: 100vh;

  background: var(--main-bg-color);

  color: var(--main-text-color);

  h2,
  strong {
    color: var(--accent-text-color);
  }
}

.sidebar,
.sidebarMobile {
  padding: 20px;
  /* pxtorem-disable-next-line */
  border-right: 1px solid var(--accent-text-color);

  width: 280px;

  background: var(--main-bg-color);

  .logo {
    margin-bottom: 40px;

    font-size: 1.5rem;
    font-weight: 900;
    color: var(--accent-text-color);
    letter-spacing: 2px;

    span {
      margin-left: 4px;

      color: var(--main-text-color);
    }
  }

  h4 {
    margin: 25px 0 10px 10px;

    font-size: 0.75rem;
    text-transform: uppercase;
    color: var(--auxiliary-text-color);
  }
}

.sidebar {
  @include tablet {
    display: none;
  }
}

.sidebarMobile {
  position: absolute;
  top: 325px;
  z-index: 100;

  /* pxtorem-disable-next-line */
  border-bottom: 1px solid var(--accent-text-color);

  @include tablet-above {
    display: none;
  }

  @include mobile {
    top: 264px;
  }

  @include mobile-s {
    top: 239px;
  }
}

.navLink {
  display: flex;
  align-items: center;
  gap: 12px;

  padding: 12px 15px;
  border-radius: 8px;

  color: var(--auxiliary-text-color);
  text-decoration: none;

  transition: all 0.2s;

  @include hover {
    background: var(--auxiliary-bg-color-2);

    color: var(--main-text-color);
  }

  svg {
    color: var(--accent-text-color);
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 20px;

    font-size: 1.1rem;
    color: var(--accent-text-color);
  }
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.adminHeader {
  position: relative;

  display: flex;
  align-items: center;

  padding: 0 40px;
  /* pxtorem-disable-next-line */
  border-bottom: 1px solid var(--accent-text-color);

  height: 70px;

  background: var(--main-bg-color);
}

.pageBody {
  padding: 40px;
  overflow-y: auto;

  @include tablet {
    padding-inline: 20px;
  }

  @include mobile {
    padding-inline: 10px;
  }
}

.panelBtn {
  position: absolute;
  top: 90px;
  right: 70px;
  z-index: 100;

  padding: 5px 15px;
  /* pxtorem-disable-next-line */
  border: 1px solid var(--accent-text-color);
  border-radius: 20px;

  background-color: var(--main-bg-color);

  color: var(--accent-text-color);

  @include tablet-above {
    display: none;
  }

  @include mobile-s {
    right: 10px;
    z-index: 300;
  }

  @include hover {
    background-color: var(--accent-text-color);

    color: var(--main-text-color);
  }
}
