.adminContainer {
  display: flex;
  min-height: 100vh;
  background: var(--main-bg-color);
  color: var(--main-text-color);

  h2,
  strong {
    color: var(--accent-text-color);
  }
}

.sidebar,
.sidebarMobile {
  width: 280px;
  background: var(--main-bg-color);
  /* pxtorem-disable-next-line */
  border-right: 1px solid var(--accent-text-color);
  padding: 20px;

  .logo {
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--accent-text-color);
    margin-bottom: 40px;
    letter-spacing: 2px;

    span {
      color: var(--main-text-color);
      margin-left: 4px;
    }
  }

  h4 {
    color: var(--auxiliary-text-color);
    font-size: 0.75rem;
    text-transform: uppercase;
    margin: 25px 0 10px 10px;
  }
}

.sidebar {
  @include tablet {
    display: none;
  }
}

.sidebarMobile {
  position: absolute;
  z-index: 100;
  top: 271px;
  /* pxtorem-disable-next-line */
  border-bottom: 1px solid var(--accent-text-color);

  @include tablet-above {
    display: none;
  }

  @include mobile {
    top: 253px;
  }

  @include mobile-s {
    top: 225px;
  }
}

.navLink {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 15px;
  color: var(--auxiliary-text-color);
  text-decoration: none;
  border-radius: 8px;
  transition: all 0.2s;

  @include hover {
    background: var(--auxiliary-bg-color-2);
    color: var(--main-text-color);
  }

  svg {
    color: var(--accent-text-color);
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    font-size: 1.1rem;
    color: var(--accent-text-color);
  }
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.adminHeader {
  height: 70px;
  background: var(--main-bg-color);
  /* pxtorem-disable-next-line */
  border-bottom: 1px solid var(--accent-text-color);
  display: flex;
  align-items: center;
  padding: 0 40px;
  position: relative;
}

.pageBody {
  padding: 40px;
  overflow-y: auto;

  @include tablet {
    padding-inline: 20px;
  }

  @include mobile {
    padding-inline: 10px;
  }
}

.panelBtn {
  color: var(--accent-text-color);
  position: absolute;
  top: 90px;
  right: 70px;
  background-color: var(--main-bg-color);
  /* pxtorem-disable-next-line */
  border: 1px solid var(--accent-text-color);
  padding: 5px 15px;
  border-radius: 20px;

  @include tablet-above {
    display: none;
  }

  @include mobile-s {
    right: 10px;
    z-index: 300;
  }

  @include hover {
    background-color: var(--accent-text-color);
    color: var(--main-text-color);
  }
}
