.wrapper {
  margin-top: 40px;
  // height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-text-color);
  text-align: center;
  position: relative;
  // overflow: hidden;

  @include tablet {
    margin-top: 20px;
  }

  @include tablet {
    margin-top: 10px;
  }

  h1 {
    font-size: 8rem;
    font-weight: 900;
    color: var(--main-text-color);
    margin-block: 0;

    @include mobile {
      font-size: 4rem;
    }
  }
}

.content {
  z-index: 10;

  h2 {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-top: 0; /* Обнуляем верхний отступ, так как мы задали его в h1 */
    margin-bottom: 15px;
    letter-spacing: 4px;
    color: var(--accent-text-color);
  }
  p {
    color: var(--auxiliary-text-color);
    margin-bottom: 40px;
    // max-width: 400px;
  }
}

.actions {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding-bottom: 10px;

  @include mobile {
    gap: 10px;
  }

  button {
    padding: 12px 30px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.3s;

    @include mobile {
      padding: 8px 15px;
    }
  }

  .primaryBtn {
    background: var(--main-bg-color);
    border: 1px solid var(--accent-text-color);
    color: var(--accent-text-color);
    &:hover {
      background: var(--accent-text-color);
      color: var(--color-dark);
    }
  }

  .secondaryBtn {
    background: transparent;
    border: 1px solid #333;
    color: #888;
    &:hover {
      border-color: #fff;
      color: #fff;
    }
  }
}

.img404 {
  width: 60%;
  justify-self: center;
  margin-bottom: 10px;
}
