.container {
  max-width: var(--container-width);
  margin: 40px auto;
  padding: 0 20px;

  @include tablet {
    text-align: center;
  }

  @include mobile {
    margin-block: 20px;
  }
}

.title {
  margin-bottom: 10px;
  font-size: 2.5rem;
}

.subtitle {
  margin-bottom: 40px;
  color: var(--auxiliary-text-color);

  @include mobile {
    text-align: center;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 3fr));
  gap: 20px;
}

.emptyState {
  max-width: 600px;
  margin: 0 auto;
  padding: 60px 20px;

  /* pxtorem-disable-next-line */
  border: 1px dashed rgb(255 255 255 / 10%);
  border-radius: 12px;

  font-size: 1.1rem;
  line-height: 1.5;
  color: var(--auxiliary-text-color);
  text-align: center;

  background: var(--auxiliary-bg-color-2);
}

.loader {
  padding-top: 150px;

  font-size: 1.3rem;
  font-weight: 600;
  color: var(--main-text-color);
  text-align: center;
}
