.container {
  max-width: var(--container-width);
  margin: 40px auto;
  padding: 0 20px;

  @include mobile {
    margin-block: 20px;
  }
}

.title {
  font-size: 2.5rem;
  margin-bottom: 10px;
}
.subtitle {
  color: var(--auxiliary-text-color);
  margin-bottom: 40px;

  @include mobile {
    text-align: center;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
}

.promoCard {
  background: #151515;
  border: 2px dashed #333; //Эффект купона
  padding: 24px;
  border-radius: 12px;
  text-align: center;
  transition: border-color 0.3s;

  @include mobile {
    padding: 10px 16px;
  }

  &:hover {
    border-color: var(--accent-text-color);
  }

  .amount {
    font-size: 2rem;
    font-weight: 900;
    color: var(--accent-text-color);
    margin-bottom: 15px;

    @include mobile-s {
      margin-bottom: 5px;
    }
  }

  .codeWrap {
    background: #222;
    padding: 10px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;

    .code {
      font-family: monospace;
      font-weight: 700;
      color: #fff;
    }

    button {
      background: #333;
      color: #fff;
      border: none;
      padding: 5px 10px;
      font-size: 0.7rem;
      border-radius: 4px;
      cursor: pointer;
      &:hover {
        background: #444;
      }
    }
  }

  .expires {
    font-size: 0.8rem;
    color: #555;
  }
}
