.timer {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 8px 15px;

  /* pxtorem-disable-next-line */
  border: 1px solid rgb(0 0 0 / 10%);
  border-radius: 6px;

  color: var(--accent-text-color);

  background: rgb(0 0 0 / 50%);

  @include mobile {
    padding: 6px;
  }

  @include mobile-s {
    flex-direction: row;
    padding: 3px 6px;
  }

  .timerLabel {
    font-size: 0.7rem;
    font-weight: 700;
    text-transform: uppercase;

    @include mobile-s {
      margin-right: 10px;
    }
  }

  .digits {
    font-family: var(--font-family-base);
    font-size: 1.4rem;
    font-weight: 900;
    letter-spacing: 2px;

    @include mobile {
      font-size: 1.2rem;
    }

    span {
      display: inline-block;
      min-width: 1.6rem;
      text-align: center;
    }
  }
}
