.pageWrapper {
  width: 100%;
  max-width: var(--container-width);

  @include mobile {
    justify-items: center;
  }

  .card {
    @include mobile {
      justify-items: center;
    }
  }
}

.syncBtn {
  display: flex;
  align-items: center;
  gap: 10px;
  background: var(--accent-text-color);
  color: var(--main-text-color);
  border: none;
  padding: 12px 24px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;

  @include mobile {
    padding: 6px 12px;
  }

  @include hover {
    &:not(:disabled) {
      opacity: 0.8;
    }
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h3 {
  margin-block: 10px;
  @include mobile {
    text-align: center;
  }
}
