.pageWrapper {
  place-self: center center;
  width: 90%;
  max-width: var(--container-width);

  @include mobile {
    justify-items: center;
  }

  .card {
    @include mobile {
      justify-items: center;
    }
  }

  .cardInfo {
    margin-bottom: 20px;
  }
}

.spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

h3 {
  margin-block: 10px;

  @include mobile {
    text-align: center;
  }
}
