.card {
  background-color: var(--auxiliary-bg-color-2);
  color: var(--main-text-color);
  /* pxtorem-disable-next-line */
  border: 1px solid var(--accent-text-color);
  border-radius: 20px;
  padding: 10px 30px;
  box-shadow: 0 4px 20px rgba(149, 165, 7, 0.05);
  margin-bottom: 20px;
  text-align: center;

  .actions {
    display: flex;
    justify-content: center;

    button {
      max-width: 300px;
      margin-top: 20px;
    }
  }

  h2 {
    color: var(--accent-text-color);
    margin-block: 15px;

    @include mobile {
      text-align: center;
      margin-block: 0;
    }
  }
}
