.card {
  margin-bottom: 20px;
  padding: 10px 30px;

  /* pxtorem-disable-next-line */
  border: 1px solid var(--accent-text-color);
  border-radius: 20px;

  color: var(--main-text-color);
  text-align: center;

  background-color: var(--auxiliary-bg-color-2);
  box-shadow: 0 4px 20px rgb(149 165 7 / 5%);
}

.actions {
  display: flex;
  justify-content: center;
  margin-block: 10px;
}

h2 {
  margin-block: 15px;
  color: var(--accent-text-color);

  @include mobile {
    margin-block: 0;
  }
}
