.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;

  width: 100%;
  max-width: var(--container-width);

  .info {
    width: 100%;

    text-align: center;

    h1 {
      text-align: center;

      @include tablet {
        margin-block: 15px;
      }
    }
  }

  p {
    margin-bottom: 10px;

    text-align: center;
  }

  .map {
    z-index: 10;

    width: 60%;

    @include laptop-s {
      width: 70%;
    }

    @include tablet {
      padding-inline: 15px;

      width: 100%;
    }
  }

  .imgContainer {
    justify-self: center;

    margin-bottom: 20px;

    width: 100%;
    max-width: 700px;
    aspect-ratio: 2 / 1;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 20px;

  a {
    padding: 5px;

    @include hover {
      color: var(--accent-text-color);
    }
  }
}
