.bannerWrapper {
  width: 100%;
  height: 100%;
  background: #000;
}

.mySwiper {
  width: 100%;
  height: 100%;

  :global(.swiper-pagination) {
    bottom: 25px !important; // Поднимаем точки выше от нижнего края
  }

  // Точки пагинации:
  :global(.swiper-pagination-bullet) {
    position: relative; /* Обязательно для работы ::before */

    display: inline-flex;

    width: 20px;
    height: 20px;

    /* pxtorem-disable-next-line */
    border: 2px solid black;

    background: var(--accent-text-color);

    &::before {
      content: "";

      position: absolute;
      top: 50%;
      left: 50%;
      translate: -50% -50%;

      width: 44px;
      height: 44px;
    }
  }
}

.slide {
  position: relative;

  display: flex;
  justify-content: center;

  width: 100%;
  height: 100%;

  background: var(--accent-text-color); // Скрываем задний текст

  img {
    height: 100%;

    /* pxtorem-disable-next-line */
    border: 1px solid var(--accent-text-color);
    object-fit: cover; // Фото заполнит всё пространство
  }
}

.overlay {
  position: absolute;
  inset: 0;

  display: flex;
  align-items: center;

  background: linear-gradient(to top, rgb(0 0 0 / 80%), transparent);

  h2 {
    padding-left: 20px;

    font-size: 3rem;
    color: var(--main-text-color);
    text-transform: uppercase;
    letter-spacing: 2px;

    -webkit-text-stroke: 1px var(--accent-text-color);

    @include mobile-s {
      font-size: 2rem;
    }
  }
}
