// Вариант кнопки для режима grid:
.favoriteBtn {
  cursor: pointer;

  position: absolute;
  z-index: 10;
  top: 10px;
  right: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 32px;
  height: 32px;

  /* pxtorem-disable-next-line */
  border: 1px solid rgb(255 255 255 / 10%);
  border-radius: 50%;

  font-size: 14px;

  background: rgb(0 0 0 / 50%);
  backdrop-filter: blur(4px);

  transition: all 0.2s ease;

  &::after {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 44px;
    height: 44px;
  }

  @include hover {
    transform: scale(1.1);
    background: rgb(0 0 0 / 80%);
  }

  &.active {
    border-color: var(--color-light);
    background: var(--color-light);
  }
}

// Вариант кнопки для режима list:
.listFavoriteBtn {
  cursor: pointer;

  position: relative;

  display: flex;
  align-items: center;

  padding: 5px;
  border: none;

  font-size: 1.2rem;

  background: none;

  transition: transform 0.2s;

  &::after {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 44px;
    height: 44px;
  }

  @include hover {
    transform: scale(1.2);
  }
}

.detailsFavoriteBtn {
  cursor: pointer;

  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;

  width: 100%;
  min-height: 44px;
  padding: 8px 24px;

  /* pxtorem-disable-next-line */
  border: 1px solid var(--auxiliary-text-color);
  border-radius: 10px;

  font-size: 14px;
  color: var(--main-text-color);
  text-align: center;

  background: var(--main-bg-color);

  transition: all 0.2s ease;

  @include hover {
    background: rgb(255 255 255 / 10%);
  }

  &.active {
    border-color: #ff4757;
    background: rgb(255 71 87 / 10%);

    span {
      color: #ff4757;
    }
  }
}

.btnText {
  font-weight: 500;
}
