//Вариант кнопки для режима grid:
.favoriteBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;

  font-size: 14px;
  cursor: pointer;

  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  /* pxtorem-disable-next-line */
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition: all 0.2s ease;

  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 44px;
    height: 44px;

    content: "";
    transform: translate(-50%, -50%);
  }

  @include hover {
    background: rgba(0, 0, 0, 0.8);
    transform: scale(1.1);
  }

  &.active {
    background: #fff;
    border-color: #fff;
  }
}

//Вариант кнопки для режима list:
.listFavoriteBtn {
  position: relative;
  display: flex;
  align-items: center;
  padding: 5px;

  font-size: 1.2rem;
  cursor: pointer;

  background: none;
  border: none;

  transition: transform 0.2s;

  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 44px;
    height: 44px;

    content: "";
    transform: translate(-50%, -50%);
  }

  @include hover {
    transform: scale(1.2);
  }
}
