.pageWrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;

  input {
    display: block;
    margin-block: 10px;

    /* pxtorem-disable-next-line */
    border: 1px solid var(--accent-text-color);
    border-radius: 10px;
  }
}

.header {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;

  width: 100%;

  h3 {
    font-size: 1.5rem;
    color: var(--main-text-color);
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  button {
    max-width: 200px;
  }
}
