.modalOverlay {
  position: fixed;
  z-index: 1000;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgb(0 0 0 / 80%);
  backdrop-filter: blur(4px);
}

.modal {
  width: 100%;
  max-width: 450px;
  padding: 30px;

  /* pxtorem-disable-next-line */
  border: 1px solid var(--accent-text-color);
  border-radius: 12px;

  background: #111;
  box-shadow: 0 20px 40px rgb(0 0 0 / 50%);

  h4 {
    margin-bottom: 25px;
    font-size: 1.2rem;
    color: var(--accent-text-color);
    text-transform: uppercase;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}

.modalActions {
  display: flex;
  gap: 12px;
  justify-content: flex-end;
  margin-top: 15px;
}
