.specRow {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);

  span {
    color: var(--auxiliary-text-color);
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 1px;

    @include mobile-s {
      max-width: 160px;
    }
  }

  strong {
    text-align: right;
    @include mobile-s {
      max-width: 160px;
    }
  }
}

.noData {
  color: var(--auxiliary-text-color);
  font-weight: normal;
}
