.googleBtn {
  cursor: pointer;

  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;

  width: 100%;
  margin-top: 14px;
  margin-bottom: 20px;
  padding: 12px;

  /* pxtorem-disable-next-line */
  border: 2px solid var(--accent-text-color);
  border-radius: 30px;

  opacity: 0.85;
  background: var(--auxiliary-bg-color-2);

  transition:
    scale var(--transition-duration) ease,
    box-shadow var(--transition-duration) ease;

  @include hover {
    scale: 1.01;
    box-shadow: 0 0 20px var(--accent-text-color);
  }

  .google {
    width: 20px;
    height: 20px;
    border-radius: 50%;

    color: rgb(50 50 253);

    background-color: #f9f9f9;
  }

  span {
    color: var(--accent-text-color);
  }
}
