.container {
  max-width: var(--container-width);
  margin: 30px auto;
  padding: 0 20px;
  line-height: 1.6;
  position: relative;

  .imgContainer {
    display: flex;
    width: 99vw;
    overflow-x: hidden;
    aspect-ratio: 2/1;
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
      url("src/shared/assets/images/banners/aboutBanner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: -30px;
    left: 50%;
    translate: -50% 0;
    z-index: -1;
    overflow: hidden;
  }

  h1 {
    margin-bottom: 30px;
    font-size: 32px;
    text-align: center;
  }

  h2 {
    margin-top: 40px;
    margin-bottom: 15px;
    font-size: 22px;
    color: var(--accent-text-color);
  }

  h4 {
    color: var(--accent-text-color);
    text-decoration: underline;
    text-align: center;
  }

  p {
    margin-bottom: 15px;
  }
}

ul {
  padding-left: 0;
  margin-left: 0;
  list-style: none;
  text-align: left;
}
