.container {
  position: relative;

  max-width: var(--container-width);
  margin: 30px auto;
  padding: 0 20px;

  line-height: 1.6;

  .imgContainer {
    position: absolute;
    z-index: -1;
    top: -30px;
    left: 50%;
    translate: -50% 0;

    overflow: hidden;
    display: flex;

    aspect-ratio: 2/1;
    width: 99vw;

    background-image:
      linear-gradient(rgb(0 0 0 / 70%), rgb(0 0 0 / 50%)),
      url("@/shared/assets/images/banners/aboutBanner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  h1 {
    margin-bottom: 30px;
    font-size: 32px;
    text-align: center;
  }

  h2 {
    margin-top: 40px;
    margin-bottom: 15px;
    font-size: 22px;
    color: var(--accent-text-color);
  }

  h4 {
    color: var(--accent-text-color);
    text-align: center;
    text-decoration: underline;
  }

  p {
    margin-bottom: 15px;
  }
}

ul {
  margin-left: 0;
  padding-left: 0;
  text-align: left;
  list-style: none;
}
