.stars {
  display: flex;
  gap: 8px;
  font-size: 28px;
  cursor: pointer;

  span {
    color: var(--auxiliary-text-color);
    transition: color 0.2s;
    &:hover {
      color: var(--color-rating);
    }
  }

  .active {
    color: var(--color-rating);
  }
}
