.stars {
  display: flex;
  gap: 8px;
  font-size: 28px;
  cursor: pointer;

  span {
    color: #333;
    transition: color 0.2s;
    &:hover {
      color: #f39c12;
    }
  }

  .active {
    color: #f39c12;
  }
}
