.ratingGroup {
  display: inline-flex;
  flex-direction: row-reverse; //Разворачиваем, чтобы работал селектор "~"
  justify-content: flex-end;
  gap: 10px;

  .radioInput {
    //Скрываем инпут:
    position: absolute;

    padding: 0;
    margin: -1px;
    border: 0;

    width: 1px;
    height: 1px;
    overflow: hidden;

    clip: rect(0, 0, 0, 0);

    &:checked,
    &:checked ~ .starLabel {
      color: var(--color-rating);
    }

    // Фокус для доступности (чтобы при Tab было видно, где мы)
    &:focus-visible ~ .starLabel {
      outline: 2px solid var(--accent-color, var(--accent-text-color));
      outline-offset: 4px;
      border-radius: 4px;
    }
  }

  .starLabel {
    position: relative;

    cursor: pointer;

    font-size: 30px;
    color: var(--color-light);

    transition: color 0.2s;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      translate: -50% -50%;

      width: 44px;
      height: 44px;
    }

    // Эффект при наведении (на саму звезду и все визуально "левее")^
    &:hover,
    &:hover ~ .starLabel {
      color: var(--accent-text-color);
    }
  }
}
