.container {
  display: flex;
  align-items: center;
  justify-content: center;

  justify-self: center;
  min-height: 80vh;
  padding: 20px;
  width: 100%;
  max-width: var(--container-width);
}

.card {
  background-color: var(--auxiliary-bg-color);
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);

  width: 100%;
  max-width: 400px;
  justify-items: center;
  box-sizing: border-box;

  @include mobile-s {
    padding: 15px;
  }

  p {
    text-align: center;
  }

  h1 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 24px;
    font-weight: 600;

    @include mobile {
      margin-block: 10px;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  input {
    width: 100%;
    padding: 12px 16px;
    border-radius: 10px;
    font-size: 14px;
    box-sizing: border-box;
    transition: border-color 0.2s;
    outline: none;

    &:focus {
      border: 1px solid var(--accent-text-color);
    }
  }

  button[type="submit"] {
    width: 100%;
    padding: 14px;
    background: var(--main-bg-color);
    color: var(--accent-text-color);
    border: 1px solid var(--accent-text-color);
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 20px;

    &:hover {
      background-color: var(--accent-text-color);
      color: var(--main-text-color);
    }

    &:disabled {
      background: #ccc;
      cursor: not-allowed;
    }
  }

  a {
    display: block;
    color: var(--main-text-color);
    text-decoration: underline;
  }
}
