.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  backdrop-filter: blur(5px);
}

.modal {
  background: var(--auxiliary-bg-color-2);
  padding: 32px;
  border-radius: 12px;
  width: 100%;
  max-width: 500px;
  border: 1px solid var(--accent-text-color);

  h3 {
    margin-bottom: 24px;
    color: var(--accent-text-color);
    font-size: 1.4rem;
    text-align: center;

    @include mobile {
      margin-block: 5px;
    }
  }
}

.section {
  margin-bottom: 20px;
  label {
    display: block;
    margin-bottom: 8px;
    color: var(--main-text-color);
    font-size: 0.9rem;
  }

  @include mobile {
    margin-bottom: 5px;
  }
}

textarea {
  width: 100%;
  height: 120px;
  background: var(--main-text-color) !important;
  border: 1px solid var(--accent-text-color) !important;
  border-radius: 8px;
  padding: 12px;
  color: var(--main-text-color);
  resize: none;
  margin-bottom: 20px;
  &:focus {
    border-color: var(--accent-text-color);
    outline: none;
  }
}

.uploadLabel {
  display: inline-block;
  padding: 12px 20px;
  background: var(--main-bg-color);
  border: 1px dashed var(--auxiliary-text-color);
  border-radius: 8px;
  cursor: pointer;
  color: #ccc;
  width: 100%;
  text-align: center;
  transition: all 0.2s;
  @include hover {
    border: 1px solid var(--accent-text-color);
  }
}

.previews {
  display: flex;
  gap: 12px;
  margin-top: 16px;
  flex-wrap: wrap;

  .previewItem {
    position: relative;
    width: 70px;
    height: 70px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 6px;
    }

    .removeIcon {
      position: absolute;
      top: -6px;
      right: -6px;
      background: var(--color-danger);
      color: var(--main-text-color);
      border: none;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
    }
  }
}

.actions {
  display: flex;
  gap: 12px;
  margin-top: 30px;

  @include mobile {
    margin-top: 10px;
  }

  button {
    flex: 1;
    padding: 12px;
    border-radius: 8px;
    font-weight: 700;
    cursor: pointer;
  }

  .cancel {
    background: transparent;
    color: var(--auxiliary-text-color);
    border: 1px solid var(--auxiliary-text-color);

    @include hover {
      scale: 1.05;
    }
  }
  .submit {
    background: var(--accent-text-color);
    color: var(--main-text-color);
    border: none;

    @include hover {
      box-shadow: 0 0 20px var(--accent-text-color);
      scale: 1.05;
    }
  }
}

.textareaWrapper {
  position: relative;
  width: 100%;
  margin-bottom: 24px;

  @include mobile {
    margin-bottom: 10px;
  }

  textarea {
    width: 100%;
    height: 140px;
    // background: #222;
    // border: 1px solid #333;
    border-radius: 8px;
    padding: 12px;
    padding-bottom: 30px;
    color: var(--color-black);
    resize: none;
    font-family: inherit;
    transition: border-color 0.2s;

    &:focus {
      border-color: var(--accent-text-color);
      outline: none;
    }

    &::placeholder {
      color: var(--accent-text-color);
    }
  }

  .charCount {
    position: absolute;
    bottom: 10px;
    right: 12px;
    font-size: 0.75rem;
    color: #666;
    pointer-events: none; // Чтобы клик сквозь цифры попадал в текстовое поле

    &.warning {
      color: var(--accent-text-color);
    }
  }
}
