.wrapper {
  position: relative;

  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100vh;
  padding: 20px;

  color: var(--main-text-color);
  text-align: center;

  background-color: var(--main-bg-color);
}

.glitchIcon {
  margin-bottom: 20px;
  font-size: 80px;
  filter: drop-shadow(0 0 10px rgb(231 76 60 / 50%));
  animation: shake 0.5s infinite alternate;
}

.title {
  margin-bottom: 10px;

  font-size: 2rem;
  color: var(--color-danger);
  text-transform: uppercase;
  letter-spacing: 2px;
}

.description {
  max-width: 400px;
  margin-bottom: 30px;
  line-height: 1.6;
  color: var(--auxiliary-text-color);
}

.refreshBtn {
  cursor: pointer;

  padding: 14px 32px;

  /* pxtorem-disable-next-line */
  border: 1px solid var(--accent-text-color);
  border-radius: 4px;

  font-size: 14px;
  font-weight: 700;
  color: var(--accent-text-color);
  text-transform: uppercase;

  background: transparent;

  transition: all 0.3s ease;

  @include hover {
    color: #000;
    background: var(--accent-text-color);
    box-shadow: 0 0 20px rgb(243 156 18 / 40%);
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  100% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
}
