.topNav {
  display: flex;

  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none; //Убираем маркеры
    margin: 0;
    padding: 0;
    gap: 15px;

    @include tablet {
      gap: 10px;
    }
  }

  @include tablet {
    gap: 12px;
  }

  @include mobile {
    display: none;
  }

  li {
    position: relative;
    text-align: center;

    a {
      color: var(--auxiliary-text-color);
      transition: color 0.2s;

      &.activeLink {
        color: var(--accent-text-color);
      }

      @include hover {
        color: var(--accent-text-color);
      }

      //Увеличение зоны клика:
      &::after {
        content: "";
        position: absolute;
        height: 44px;
        //Растягиваем по ширине на всю ширину основного элемента:
        left: 0;
        right: 0;
        height: 44px;
        //Центрируем по вертикали:
        top: 50%;
        transform: translateY(-50%);
      }

      //Подчеркивание:----------------
      &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px; // Позиция линии
        width: 0; //В начале ширина 0
        height: 2px;
        background-color: var(--accent-text-color);
        transition: width 0.3s ease; //Анимация изменения ширины
      }

      @include hover {
        &::before {
          width: 100%;
        }
      }
      //-----------------------------
    }
  }
}
