.topNav {
  display: flex;

  ul {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;

    margin: 0;
    padding: 0;

    list-style-type: none; // Убираем маркеры

    @include tablet {
      gap: 10px;
    }
  }

  @include tablet {
    gap: 12px;
  }

  @include mobile {
    display: none;
  }

  li {
    position: relative;
    text-align: center;

    a {
      color: var(--auxiliary-text-color);
      transition: color 0.2s;

      // Увеличение зоны клика:
      &::after {
        content: "";

        position: absolute;

        // Центрируем по вертикали:
        top: 50%;
        right: 0;

        // Растягиваем по ширине на всю ширину основного элемента:
        left: 0;
        transform: translateY(-50%);

        height: 44px;
      }

      // Подчеркивание:----------------
      &::before {
        content: "";

        position: absolute;
        bottom: -2px; // Позиция линии
        left: 0;

        width: 0; // В начале ширина 0
        height: 2px;

        background-color: var(--accent-text-color);

        transition: width 0.3s ease; // Анимация изменения ширины
      }

      &.activeLink {
        color: var(--accent-text-color);
      }

      @include hover {
        color: var(--accent-text-color);
      }

      @include hover {
        &::before {
          width: 100%;
        }
      }

      // -----------------------------
    }
  }
}
