.Page {
  display: flex;
  gap: 40px;

  box-sizing: border-box; // Чтобы паддинги не раздували ширину
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 40px 20px;

  background: var(--main-bg-color);

  @include mobile-s {
    text-align: center;
  }
}

.title {
  align-self: center;

  margin: 0;

  font-size: 2.2rem;
  line-height: 1.2;
  color: var(--accent-text-color);
}

h5 {
  align-self: center;
  margin-top: 5px;
  margin-bottom: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 24px;
  width: 100%;
}

.topBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  margin-bottom: 30px;
}

// Стили для индикатора загрузки поверх сетки:
.Content {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.loadingOverlay {
  pointer-events: none; // Чтобы клики проходили сквозь него

  position: absolute;
  z-index: 10;
  inset: 0;

  display: flex;
  align-items: flex-start;
  justify-content: center;

  padding-top: 100px;

  font-size: 1.2rem;
  font-weight: 700;
  color: var(--accent-text-color);
  text-transform: uppercase;
  letter-spacing: 2px;

  background: rgb(8 8 8 / 70%);
  backdrop-filter: blur(4px);
}

.searchWrapper {
  position: relative;
  width: 100%;
  max-width: 400px;
}

// -----------Стили для переключателей режима отображения:
.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;

  // Внутри карточки в режиме list
  :global(.Card) {
    flex-direction: row;
    height: 60px;
    padding: 10px 20px;

    .imageBox {
      display: none;
    }

    .info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    }
  }
}

/// --------------
.mobileBtnWrapper {
  position: fixed;
  z-index: 100;
  right: 30px;

  @include laptop-s-above {
    display: none;
  }

  @include tablet-above {
    top: 220px;
  }

  @include tablet {
    top: 280px;
  }

  @include mobile {
    top: 200px;
  }

  @include mobile-s {
    top: 170px;
  }
}
