.row {
  display: grid;
  grid-template-columns: 140px 1fr;
  align-items: center;

  padding: 22px 0;

  /* pxtorem-disable-next-line */
  border-bottom: 1px solid var(--color-light);

  @include mobile-s {
    grid-template-columns: 1fr;
    gap: 10px;
    justify-items: center;

    padding: 8px 0;

    text-align: center;
    word-break: break-all;
    overflow-wrap: break-word;
  }

  &:last-child {
    /* pxtorem-disable-next-line */
    border: none;
  }
}

.label {
  display: flex;
  flex-shrink: 2;
  gap: 12px;
  align-items: center;

  font-size: 14px;
  color: var(--auxiliary-text-color);

  @include mobile-s {
    gap: 6px;
  }
}

.requiredStar {
  margin-left: 4px;
  color: var(--color-danger);
}

.value {
  font-weight: 500;
  text-align: center;
}

.maskInput {
  width: 100%;
  min-height: 44px;
  padding: 8px 12px;

  /* pxtorem-disable-next-line */
  border: 1px solid var(--color-light);
  border-radius: 8px;

  font-family: inherit;
  font-size: 1rem;

  outline: none;

  &::placeholder {
    color: gray;
  }

  &:hover {
    box-shadow: 0 0 10px 0 var(--accent-text-color);
  }

  &:focus-visible {
    border: 2px solid var(--accent-text-color);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.7;
    background-color: var(--color-light);
  }
}

.inputError {
  border-color: var(--color-danger) !important;
  background-color: var(--color-light) !important;
}

.errorText {
  display: block;

  margin-top: 4px;

  font-size: 11px;
  font-weight: 400;
  color: var(--color-danger);
}

.centered {
  text-align: center;
}

.row {
  display: grid;
  grid-template-columns: 140px 1fr;
  gap: 400px;
  align-items: center;

  padding: 22px 0;

  /* pxtorem-disable-next-line */
  border-bottom: 1px solid var(--color-light);

  @include tablet {
    gap: 50px;
  }

  @include mobile {
    gap: 20px;
  }

  @include mobile-s {
    grid-template-columns: 1fr;
    gap: 10px;
    justify-items: center;

    padding: 8px 0;

    word-break: break-all; // Разрывает слово в любом месте (если нужно)

    // Перенос текста: // Старый стандарт
    overflow-wrap: break-word; // Современный стандарт
  }

  &:last-child {
    /* pxtorem-disable-next-line */
    border: none;
  }
}
