.hideOnTablet {
  @include tablet {
    display: none !important;
  }
}

.hideOnMobile {
  @include mobile {
    display: none !important;
  }
}

.hideOnMobileS {
  @include mobile-s {
    display: none !important;
  }
}

.statusActive {
  color: var(--color-success);
}

.statusInactive {
  color: var(--color-danger);
}

.disabledSelect {
  opacity: 0.5;
}

.actionsContainer {
  display: flex;
  justify-content: center;
}

.centerWrapper {
  text-align: center;
}

.emailColumn {
  max-width: 150px;

  // Перенос текста:
  overflow-wrap: break-word;
}
