.supportWrapper {
  max-width: 800px;
  margin: 60px auto;
  padding: 40px;

  /* pxtorem-disable-next-line */
  border: 1px solid var(--accent-text-color);
  border-radius: 12px;

  background: var(--auxiliary-bg-color-2);
  box-shadow: 0 10px 30px rgb(0 0 0 / 50%);

  @include tablet {
    width: 95%;
    margin-block: 16px;
    padding: 30px;
    text-align: center;
  }

  h1 {
    margin-bottom: 20px;

    font-size: 2rem;
    color: var(--color-light);
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .subtitle {
    margin-bottom: 40px;
    font-size: 0.95rem;
    color: var(--auxiliary-text-color);
  }
}
