.supportWrapper {
  max-width: 800px;
  padding: 40px;
  margin: 60px auto;

  background: var(--auxiliary-bg-color-2);
  /* pxtorem-disable-next-line */
  border: 1px solid var(--accent-text-color);
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);

  @include tablet {
    padding: 30px;
    margin-block: 16px;

    text-align: center;
  }

  h1 {
    margin-bottom: 20px;

    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
  }

  .subtitle {
    margin-bottom: 40px;

    font-size: 0.95rem;
    color: var(--auxiliary-text-color);
  }
}
