.pagination {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  gap: 12px;

  @include mobile-s {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px !important;
  }
}

.numbers {
  display: flex;
  gap: 8px;
}

.pageBtn {
  width: auto;
  min-width: 40px;
  height: 40px;

  font-weight: 500;
  color: var(--main-text-color);
  cursor: pointer;

  background: var(--main-bg-color);
  /* pxtorem-disable-next-line */
  border: 1px solid #333;
  border-radius: 8px;

  transition: all 0.2s ease;

  @include hover {
    border-color: var(--accent-text-color);
  }

  &.active {
    font-weight: 700;
    color: var(--color-dark);
    cursor: default;

    background: var(--accent-text-color);
    border-color: var(--accent-text-color);
  }
}

.navBtn {
  width: 40px;
  height: 40px;

  font-size: 1.2rem;
  color: var(--accent-text-color);
  cursor: pointer;

  background: transparent;
  /* pxtorem-disable-next-line */
  border: 1px solid var(--auxiliary-bg-color-2);
  border-radius: 8px;

  &:disabled {
    cursor: not-allowed;

    opacity: 0.3;
  }
}
