.Sidebar {
  width: 300px;
  flex-shrink: 0;

  @include laptop-s {
    display: none;
  }
}

.SidebarMobile {
  position: fixed;
  top: 201px;
  z-index: 1500;

  display: flex;
  flex-direction: column;
  width: 300px;
  height: 745px;
  flex-shrink: 0;
  padding: 10px 20px;

  background-color: var(--main-bg-color);
  /* pxtorem-disable-next-line */
  border: 2px solid var(--accent-text-color);
  border-radius: 20px;
  overflow-y: auto;

  @include laptop-s-above {
    display: none;
  }
}

.filterMobileBtn {
  padding: 5px 20px;
  margin-top: 5px;

  color: var(--accent-text-color);
  cursor: pointer;

  background-color: var(--main-bg-color);
  /* pxtorem-disable-next-line */
  border: 1px solid var(--accent-text-color);
  border-radius: 10px;

  @include laptop-s-above {
    display: none;
  }
}

.sidebarTitle {
  margin-bottom: 14px;

  font-size: 1.4rem;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-text-color);

  @include laptop-s {
    margin-block: 0;
  }
}

.exitSidebar {
  position: absolute;
  top: 12px;
  right: 15px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;

  color: var(--main-text-color);
  cursor: pointer;

  /* pxtorem-disable-next-line */
  border: 1px solid var(--accent-text-color);
  border-radius: 50%;

  @include hover {
    color: var(--accent-text-color);
  }
}

.checkboxFilter {
  position: relative;
  display: flex;
  align-items: center;
  padding-inline: 0;
  padding-block: 0 16px;
  gap: 10px;

  color: var(--main-text-color);
  cursor: pointer;

  transition: transform 0.2s;

  @include hover {
    transform: scale(1.02);
  }

  &::after {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    height: 44px;

    content: "";
    transform: translateY(-50%);
  }

  input[type="checkbox"] {
    width: 18px;
    height: 18px;
    accent-color: var(--accent-text-color);

    @include hover {
      box-shadow: 0 0 20px var(--accent-text-color);
    }
  }

  .checkboxLabel {
    font-size: 1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--auxiliary-text-color);
  }
}
