.actionsContainer {
  display: flex;
  gap: 15px;
}

.actionButton {
  background: none;
  border: none !important;
  padding: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s;
  border-radius: 4px;
}

.actionButton:hover {
  opacity: 0.7;
}

/* Красивая рамка при навигации табом */
.actionButton:focus-visible {
  outline: 2px solid var(--color-rating);
  outline-offset: 2px;
}

.edit {
  color: var(--accent-text-color);
}

.delete {
  color: var(--color-danger) !important;
}
