.field {
  display: flex;
  flex-direction: column;
  gap: 8px;

  text-align: left;
}

.label {
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--main-text-color);
}

.textarea {
  width: 100%;
  padding: 0.75rem 1rem;
  min-height: 44px;
  position: relative;

  font-size: 1rem;

  background-color: var(--color-light);
  /* pxtorem-disable-next-line */
  border: 1.5px solid var(--auxiliary-bg-color-2);
  border-radius: 8px;
  outline: none;
  color: var(--color-dark);

  transition: all 0.2s ease-in-out;

  &::placeholder {
    color: gray;
  }

  &:hover {
    box-shadow: 0px 0px 10px 0px var(--accent-text-color);
  }

  &:focus-visible {
    border: 2px solid var(--accent-text-color);
  }

  &:disabled {
    cursor: not-allowed;

    background-color: #f5f5f5;
    opacity: 0.7;
  }
}

// Состояние ошибки
.inputError {
  border: 2px solid var(--color-danger) !important;

  &:focus {
    box-shadow: 0 0 0 4px rgba(220, 53, 69, 0.1) !important;
  }
}

.errorText {
  margin-top: -2px;

  font-size: 0.8rem;
  font-weight: 500;
  color: var(--color-danger);
}

.centered {
  text-align: center;
}

.textareaWrapper {
  position: relative;
  width: 100%;
  margin-bottom: 24px;

  .charCount {
    position: absolute;
    bottom: 10px;
    right: 15px;
    font-size: 0.75rem;
    color: var(--auxiliary-bg-color-2);
    pointer-events: none;

    &.warning {
      color: var(--color-danger);
      font-weight: 700;
    }
  }
}
