.banner {
  z-index: 100;

  display: flex;
  justify-content: center;

  width: 100%;
  padding-block: 10px;

  background: var(--banner-gradient);

  @include mobile {
    padding-block: 6px;
  }

  .container {
    width: 100%;
    max-width: var(--container-width);

    .content {
      display: flex;
      flex-direction: row;
      gap: 20px;
      align-items: center;
      justify-content: space-between;

      width: 100%;
      margin: 0 auto;

      @include mobile {
        padding-inline: 15px;
      }

      @include mobile-s {
        flex-direction: column;
        gap: 5px;
        text-align: center;
      }
    }
  }
}

.info {
  p {
    color: var(--main-text-color);
  }
}

.discountTitle {
  color: var(--accent-text-color);
}
