.banner {
  background: var(--banner-gradient);
  padding-block: 10px;
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: center;

  @include mobile {
    padding-block: 6px;
  }

  .container {
    width: 100%;
    max-width: var(--container-width);

    .content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
      width: 100%;
      margin: 0 auto;

      @include mobile {
        padding-inline: 15px;
      }

      @include mobile-s {
        flex-direction: column;
        text-align: center;
        gap: 5px;
      }
    }
  }
}

.info {
  p {
    color: var(--main-text-color);
  }
}

.discountTitle {
  color: var(--accent-text-color);
}
