.banner {
  background: linear-gradient(90deg, #e74c3c 0%, #f39c12 100%);
  padding-block: 10px;
  width: 100%;
  z-index: 100;

  display: flex;
  justify-content: center;

  @include mobile {
    padding-block: 6px;
  }

  .container {
    width: 100%;
    max-width: var(--container-width);

    .content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
      width: 100%;
      margin: 0 auto;

      @include mobile {
        padding-inline: 15px;
      }

      @include mobile-s {
        flex-direction: column;
        text-align: center;
        gap: 5px;
      }
    }
  }
}

.info {
  p {
    color: var(--color-dark);
    -webkit-text-stroke: 0.1px var(--accent-text-color);
  }
}

.discountTitle {
  color: var(--accent-text-color);
  -webkit-text-stroke: 1.2px var(--main-bg-color);
}

//Стилизация таймера:
.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  color: var(--accent-text-color);
  -webkit-text-stroke: 0.25px var(--main-bg-color);
  padding: 8px 15px;
  border-radius: 6px;
  /* pxtorem-disable-next-line */
  border: 1px solid rgba(0, 0, 0, 0.1);

  @include mobile {
    padding: 6px 6px;
  }

  @include mobile-s {
    flex-direction: row;
    padding: 3px 6px;
  }

  .timerLabel {
    font-size: 0.7rem;
    text-transform: uppercase;
    font-weight: 700;
    // margin-bottom: 2px;

    @include mobile-s {
      margin-right: 10px;
    }
  }

  .digits {
    font-family: var(--font-family-base);
    font-size: 1.4rem;
    font-weight: 900;
    letter-spacing: 2px;

    @include mobile {
      font-size: 1.2rem;
    }

    span {
      display: inline-block;
      min-width: 1.6rem;
      text-align: center;
    }
  }
}
