.checkboxWrapper {
  display: flex;
  flex-direction: column;
  margin: 20px 0;

  text-align: left;
}

.checkboxLabel {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: 8px;

  cursor: pointer;

  // Увеличенная невидимая область клика вокруг чекбокса
  &::after {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    z-index: 1;
    height: 44px;

    content: "";
    transform: translateY(-50%);
  }

  input {
    position: relative;
    z-index: 2; // Чтобы инпут был выше невидимой области клика

    cursor: pointer;

    &.inputError {
      border-radius: 2px;
      outline: 2px solid var(--color-danger);
      outline-offset: 2px;
    }
  }
}

.labelText {
  position: relative;
  z-index: 2; // Ссылки внутри текста должны быть кликабельны
  flex: 1;

  font-size: 14px;
  line-height: 1.4;
  color: var(--main-text-color);

  a {
    color: var(--accent-text-color);
    text-decoration: underline;

    @include hover {
      text-decoration: none;
    }
  }
}

.errorText {
  display: block;
  margin-top: 4px;

  font-size: 12px;
  color: var(--color-danger);
}
