.checkboxWrapper {
  display: flex;
  flex-direction: column;
  margin: 20px 0;

  text-align: left;
}

.checkboxLabel {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: 8px;

  cursor: pointer;

  // Увеличенная невидимая область клика вокруг чекбокса
  &::after {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    z-index: 1;
    height: 44px;

    content: "";
    transform: translateY(-50%);
  }

  input {
    position: relative;
    z-index: 2; // Чтобы инпут был выше невидимой области клика

    accent-color: var(--accent-text-color);

    width: 18px;
    height: 18px;
    accent-color: var(--accent-text-color);

    cursor: pointer;

    &.inputError {
      border-radius: 2px;
      outline: 2px solid var(--color-danger);
      outline-offset: 2px;
    }

    @include hover {
      box-shadow: 0 0 20px var(--accent-text-color);
    }
  }
}

.labelText,
.labelTextWither {
  position: relative;
  z-index: 2; // Ссылки внутри текста должны быть кликабельны
  flex: 1;

  line-height: 1.4;

  a {
    color: var(--accent-text-color);
    text-decoration: underline;

    @include hover {
      text-decoration: none;
    }
  }
}

.labelText {
  color: var(--main-text-color);
}

.labelTextWither {
  color: var(--auxiliary-text-color);
}

.errorText {
  display: block;
  margin-top: 4px;

  font-size: 12px;
  color: var(--color-danger);
}

.smallText {
  font-size: 14px;
}

.single {
  width: 18px;
  height: 18px;
  accent-color: var(--accent-text-color);

  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 44px;
    height: 44px;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
  }

  @include hover {
    box-shadow: 0 0 20px var(--accent-text-color);
  }
}
