.pageWrapper {
  max-width: 900px;

  h3 {
    margin-block: 15px;
  }
}

.subtitle {
  margin-bottom: 40px;
  color: var(--main-text-color);
}

.reportsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 25px;
}
