.catalogWrapper {
  position: relative;
  display: inline-block;
  align-items: center;
}

.catalogBtn {
  display: flex;
  flex-shrink: 0;
  gap: 10px;
  align-items: center;

  width: 135px;
  padding: 10px 20px;

  /* pxtorem-disable-next-line */
  border: 1px solid var(--accent-text-color);
  border-radius: 8px;

  font-weight: 700;
  color: var(--accent-text-color);
  text-decoration: none;

  background: var(--main-bg-color);

  transition: transform 0.2s;

  @include mobile {
    justify-content: center;
    width: 260px;
    height: 30px;
  }

  @include hover {
    box-shadow: 0 0 20px var(--accent-text-color);
  }

  .burger {
    font-size: 1.2rem;
  }
}

.dropdown {
  position: absolute;
  z-index: 1100;
  top: 100%;
  left: 0;

  @include laptop-s {
    left: -50%;
  }

  @include tablet {
    display: none;
  }
}

.dropdownContent {
  display: flex;

  width: 900px;

  /* pxtorem-disable-next-line */
  border: 1px solid var(--accent-text-color);
  border-radius: 8px;

  background-color: var(--auxiliary-bg-color-2);
  box-shadow: 0 10px 30px rgb(0 0 0 / 20%);

  span {
    color: var(--main-text-color);

    @include hover {
      color: var(--accent-text-color);
    }

    strong {
      font-weight: bold;
      color: var(--accent-text-color);
    }
  }
}

.sideNav {
  width: 220px;
  padding: 10px 0;

  /* pxtorem-disable-next-line */
  border-right: 1px solid var(--accent-text-color);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

  span {
    @include hover {
      color: var(--color-dark);
    }
  }

  @include laptop-s {
    width: 180px;
  }
}

.sideItem {
  cursor: pointer;

  display: flex;
  gap: 12px;
  align-items: center;

  padding: 12px 20px;

  transition: all 0.2s;

  @include laptop-s {
    gap: 8px;
  }

  img {
    width: 24px;
    height: 24px;
    opacity: 0.7;
  }

  &.activeSide {
    font-weight: 600;
    color: var(--main-text-color);
    background: var(--accent-text-color);

    img {
      opacity: 1;
      filter: sepia(1) saturate(5) hue-rotate(10deg);
    }
  }

  &.disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  .arrow {
    margin-left: auto;
    color: var(--auxiliary-text-color);

    &:active {
      color: var(--main-text-color);
    }
  }
}

.mainPanel {
  flex: 1;
  padding: 30px;

  @include laptop-s {
    padding-block: 20px;
    padding-inline: 15px;
  }
}

.brandsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 40px;

  @include laptop-s {
    gap: 10px;
  }
}

.brandItem {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: left;

  // font-size: 0.95rem;
  text-align: left;
  text-decoration: none;

  .brandIcon {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 32px;
    height: 32px;

    @include laptop-s {
      width: 28px;
      height: 28px;
    }

    img {
      max-width: 100%;
    }
  }

  @include hover {
    color: #000;

    .brandIcon img {
      scale: 1.2;
    }
  }
}
