.tableWrapper {
  overflow-x: auto;

  width: 100%;

  /* pxtorem-disable-next-line */
  border: 1px solid var(--auxiliary-text-color);
  border-radius: 8px;

  background: #111;
}

.table {
  border-collapse: collapse;
  width: 100%;
  font-size: 0.9rem;
  color: var(--auxiliary-text-color);

  th {
    padding: 15px;

    /* pxtorem-disable-next-line */
    border-bottom: 2px solid var(--auxiliary-text-color);

    font-size: 0.75rem;
    color: var(--accent-text-color);
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1px;

    background: var(--auxiliary-bg-color-2);
  }

  td {
    padding: 15px;

    /* pxtorem-disable-next-line */
    border-bottom: 1px solid var(--auxiliary-text-color);
  }

  tr:hover {
    background: var(--auxiliary-bg-color-2);
  }
}
