.mainBannerSection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-height: 600px;

  @include desktop {
    height: 530px;
  }
  @include laptop {
    height: 460px;
  }
  @include laptop-s {
    height: 370px;
  }
  @include tablet {
    height: 330px;
  }
}

.mainBannerPartLeft {
  overflow: hidden;
  width: 100%;

  img {
    width: 100%;
    max-width: none;
    height: 100%;
    object-fit: cover;
  }
}

.mainBannerPartRight {
  position: relative;

  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;

  width: 100%;

  .bannerImageText {
    position: absolute;
    top: 20%;

    max-width: 100%;
    height: auto;

    opacity: 0.9;

    @include mobile {
      top: 40%;
    }
    @include hover {
      opacity: 1;
    }
  }

  .attentionBlock {
    position: absolute;
    bottom: 0%;
    left: 50%;
    translate: -50% -50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    padding-inline: 10px;

    span {
      font-size: 28px;
      font-weight: 800;
      color: var(--accent-text-color);

      -webkit-text-stroke: 0.5px var(--auxiliary-text-color);

      @include mobile {
        display: none;
      }
    }
  }

  // Парадная кнопка:
  .attentionWrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 150px; // 146px
    height: 50px;
    border-radius: 10px;

    background: var(--banner-gradient);

    @include hover {
      background: var(--button-gradient);
    }

    a {
      display: inline-block;
      max-width: 140px;
    }
  }
}
