.hideOnMobile {
  @include mobile {
    display: none !important;
  }
}

.hideOnMobileS {
  @include mobile-s {
    display: none !important;
  }
}

.title {
  font-weight: bold;
  color: var(--color-light);
}

.statusSelect {
  /* pxtorem-disable-next-line */
  border: 1px solid #333;
  border-radius: 4px;
  background: transparent;

  &.draft {
    color: var(--color-rating);
  }

  &.published {
    color: var(--color-success);
  }
}

.actions {
  display: flex;
  gap: 15px;
  color: var(--color-rating);

  @include mobile {
    flex-direction: column;
    align-items: center;
  }
}

.titleColumn {
  @include mobile {
    max-width: 16rem;
    overflow-wrap: break-word;
  }

  @include mobile-s {
    max-width: 14rem;
    overflow-wrap: break-word;
  }
}

.statusColumn {
  @include mobile-s {
    max-width: 60px;
  }

  select {
    @include mobile-s {
      max-width: 120px;

      // Поворот select на 90 градусов:
      writing-mode: vertical-rl;
      text-orientation: mixed;
    }
  }
}
