.hideOnMobile {
  @include mobile {
    display: none !important;
  }
}

.hideOnMobileS {
  @include mobile-s {
    display: none !important;
  }
}

.title {
  color: var(--color-light);
  font-weight: bold;
}

.statusSelect {
  background: transparent;
  /* pxtorem-disable-next-line */
  border: 1px solid #333;
  border-radius: 4px;

  &.draft {
    color: var(--color-rating);
  }

  &.published {
    color: var(--color-success);
  }
}

.actions {
  display: flex;
  gap: 15px;

  color: var(--color-rating);
}
