.hideOnMobile {
  @include mobile {
    display: none !important;
  }
}

.hideOnMobileS {
  @include mobile-s {
    display: none !important;
  }
}

.title {
  font-weight: bold;
  color: var(--color-light);
}

.statusSelect {
  /* pxtorem-disable-next-line */
  border: 1px solid #333;
  border-radius: 4px;
  background: transparent;

  &.draft {
    color: var(--color-rating);
  }

  &.published {
    color: var(--color-success);
  }
}

.actions {
  display: flex;
  gap: 15px;
  color: var(--color-rating);
}
