.modalOverlay {
  position: fixed;
  z-index: 5000;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(0, 0, 0, 0.85);
  backdrop-filter: blur(5px);
}

.modalContent {
  width: 90%;
  max-width: 400px;
  padding: 30px;

  text-align: center;

  background: var(--auxiliary-bg-color);
  border: 1px solid var(--accent-text-color);
  border-radius: 20px;
  transition: all 0.3s ease;

  // Варианты рамок:
  &.danger {
    border-color: var(--color-danger);
  }

  &.success {
    border-color: var(--color-success);
  }

  &.info {
    border-color: var(--accent-text-color);
  }
}

.modalTitle {
  margin-top: 0;
  margin-bottom: 20px;

  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 2px;

  // Варианты цветов заголовков:
  &.title-danger {
    color: var(--color-danger);
  }

  &.title-success {
    color: var(--color-success);
  }

  &.title-info {
    color: var(--accent-text-color);
  }
}

.modalText {
  margin-bottom: 30px;

  color: var(--main-text-color);
  font-size: 0.95rem;
  line-height: 1.5;
}

.modalActions {
  display: flex;
  gap: 15px;

  margin-top: 16px;
}

.btnCancel,
.btnConfirm {
  flex: 1;
  padding: 12px;

  font-size: 0.9rem;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;

  border-radius: 8px;
  transition: all 0.2s ease;
}

.btnCancel {
  color: var(--auxiliary-text-color);

  background: transparent;
  border: 1px solid #444;

  @include hover {
    color: var(--main-text-color);

    border-color: #666;
  }
}

.btnConfirm {
  color: var(--color-dark);

  border: none;

  //---------Варианты кнопок:--------------//
  &.btn-danger {
    color: var(--color-light);

    background: var(--color-danger);

    @include hover {
      opacity: 0.9;
      box-shadow: 0 0 15px var(--color-danger);
    }
  }

  &.btn-success {
    background: var(--color-success);

    @include hover {
      opacity: 0.9;
      box-shadow: 0 0 15px var(--color-success);
    }
  }

  &.btn-info {
    background: var(--accent-text-color);

    @include hover {
      opacity: 0.9;
      box-shadow: 0 0 15px var(--accent-text-color);
    }
  }
}

button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}
