.scrollToTop {
  cursor: pointer;

  position: fixed;
  z-index: 2000;
  right: 40px;
  bottom: 80px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;

  color: var(--color-dark);

  visibility: hidden;

  // Изначально скрыта
  opacity: 0;
  background: var(--accent-text-color);
  box-shadow: 0 0 15px rgb(243 156 18 / 40%);

  transition: all 0.3s ease-in-out;

  @include hover {
    transform: scale(1.1);
    color: initial; /* Свойство не менялось, сохраняем каскад */
    background: var(--color-light);
    box-shadow: 0 0 25px rgb(255 255 255 / 50%);
  }

  &.visible {
    visibility: visible;
    opacity: 1;
  }
}
