.CatalogPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 60px 20px;

  background-color: var(--auxiliary-bg-color-2);

  animation: fadeIn 0.8s ease-out forwards;

  @include tablet {
    padding-block: 40px;
  }

  @include mobile {
    padding-block: 20px;
  }
}

.pageTitle {
  margin: 0 0 16px 0;

  font-size: 3.5rem;
  font-weight: 900;
  letter-spacing: 4px;
  text-align: center;
  text-transform: uppercase;
  color: var(--accent-text-color);

  @include mobile {
    font-size: 2.5rem;
  }

  @include mobile-s {
    font-size: 2rem;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  gap: 40px;
}

//Плавное появление всей страницы при загрузке:
@keyframes fadeIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
