// Элементы корзины:
.cartWrapper {
  display: flex;
  flex-direction: column;

  margin-block: 20px;
  border: 1px solid var(--accent-text-color);
  border-radius: 12px;

  background: var(--auxiliary-bg-color-2);

  @include hover {
    box-shadow: 0 0 20px var(--accent-text-color);
  }
}

.Error {
  /* pxtorem-disable-next-line */
  border: 2px solid var(--color-danger) !important;

  @include hover {
    box-shadow: 0 0 20px var(--color-danger) !important;
  }
}

.cartItem {
  display: grid;
  grid-template-areas:
    "check image top price"
    "check image bot price";
  grid-template-columns: 1fr 3fr 10fr 120px;
  gap: 20px;
  align-items: center;

  padding: 20px;

  transition:
    transform 0.2s,
    border-color 0.2s;

  @include mobile {
    display: grid; /* подразумевается контекстом grid-template-areas */
    grid-template-areas:
      "check image price"
      "check image price"
      "top top top"
      "bot bot bot";
    grid-template-columns: 1fr 4fr 4fr;
    gap: 10px;
    place-items: center center;

    padding-inline: 10px;
  }

  .checkboxWrapper {
    grid-area: check;
  }

  .itemImg {
    overflow: hidden;
    grid-area: image;

    width: 120px;
    height: 80px;
    border-radius: 8px;

    background: var(--color-dark);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .actions {
    display: flex;
    grid-area: bot;
    flex-direction: row;
    gap: 15px;
    justify-content: space-between;

    @include mobile {
      justify-content: center;
    }

    .btnGroup {
      display: flex;
      gap: 20px;
      align-items: center;
    }

    .deleteBtn {
      position: relative;

      padding: 2px 16px;

      /* pxtorem-disable-next-line */
      border: 1px solid var(--color-danger);
      border-radius: 6px;

      color: var(--color-danger);

      background-color: var(--auxiliary-bg-color-2);

      &::after {
        content: "";

        position: absolute;
        top: 50%;
        right: -2px;
        left: -2px;
        transform: translateY(-50%);

        height: 44px;
      }

      @include hover {
        box-shadow: 0 0 10px var(--color-danger);
      }
    }
  }

  .itemInfo {
    display: flex;
    grid-area: top;
    flex-wrap: wrap;
    align-self: center;

    @include mobile {
      justify-self: center;
    }

    .itemName {
      margin-bottom: 0;

      font-size: 1.3rem;
      color: var(--main-text-color);
      text-align: left;
      text-decoration: none;

      @include hover {
        color: var(--accent-text-color);
      }
    }
  }

  // Блок цены:
  .priceBlock {
    display: flex;
    grid-area: price;
    flex-direction: column;
    text-align: right;

    .currentPrice {
      margin-bottom: 4px;
      font-size: 0.85rem;
      color: var(--color-light);
    }

    .oldPrice {
      font-size: 0.7rem;

      // color: var(--auxiliary-text-color);
      color: var(--color-danger);
      text-decoration: line-through;
    }

    .totalItemPrice {
      font-size: 1.25rem;
      font-weight: 800;
      color: var(--accent-text-color);
    }

    .badgeDiscount {
      font-weight: 800;
      font-style: italic;
      color: var(--color-danger);
    }
  }
}
