.footer {
  background: var(--main-bg-color);
  color: #fff;
  padding-block: 30px;
  /* pxtorem-disable-next-line */
  border-top: 1px solid var(--accent-text-color);
  width: 100%;
  display: flex;
  justify-content: center;

  @include mobile-s {
    padding-block: 15px;
  }

  .container {
    width: 100%;
    max-width: var(--container-width);

    .top {
      width: 100%;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 10px;
      margin-bottom: 40px;
      justify-items: center; //!
      align-items: start;

      @include tablet {
        grid-template-columns: 1fr 1fr;
      }

      @include mobile {
        gap: 5px;
      }

      @include mobile-s {
        grid-template-columns: 1fr;
        text-align: center;
      }
    }
  }

  .column,
  .supportColumn {
    display: flex;
    flex-direction: column;
    gap: 15px;
    // align-items: start;
    max-width: 200px;

    @include tablet {
      gap: 5px;
      // max-width: 300px;
    }

    @include mobile-s {
      align-items: center;
    }

    h3 {
      font-size: 1.1rem;
      text-transform: uppercase;
      margin-bottom: 8px;
      color: #fff;
      /* pxtorem-disable-next-line */
      border-bottom: 2px solid var(--accent-text-color);
      width: fit-content;

      @include mobile-s {
        margin-top: 8px;
      }
    }

    ul {
      list-style-type: none; //Убираем маркеры
      margin: 0;
      padding: 0;

      @include mobile-s {
        text-align: center;
      }

      li {
        padding-block: 5px;

        @include tablet {
          padding-block: 2px;
        }
      }
      a {
        color: var(--auxiliary-text-color);
        text-decoration: none;
        font-size: 0.9rem;
        transition: color 0.2s;
        position: relative;

        @include hover {
          color: var(--accent-text-color);
        }

        //Подчеркивание:
        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -2px; // Позиция линии
          width: 0; //В начале ширина 0
          height: 2px;
          background-color: var(--accent-text-color);
          transition: width 0.3s ease; //Анимация изменения ширины
        }

        @include hover {
          &::after {
            width: 100%;
          }
        }
      }
    }
  }

  .supportBtn {
    display: inline-block;
    padding: 10px 20px;
    /* pxtorem-disable-next-line */
    border: 2px solid var(--accent-text-color);
    border-radius: 50px;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    color: var(--accent-text-color);

    @include mobile {
      margin-top: 0;
    }

    @include hover {
      background-color: var(--accent-text-color);
      color: var(--color-dark) !important;
    }
  }

  p {
    @include mobile {
      margin-bottom: 0;
    }
  }

  .soc1als {
    ul {
      display: flex;
      justify-content: center;

      gap: 25px;
      font-size: 1.5rem;
      margin-bottom: 30px;
      color: var(--auxiliary-text-color);

      flex-wrap: wrap;

      @include mobile-s {
        gap: 15px;
      }
    }

    svg {
      cursor: pointer;

      transition:
        color 0.2s,
        transform 0.2s;
      @include hover {
        color: var(--accent-text-color);
        transform: translateY(-3px);
      }
    }
  }

  .contacts {
    a {
      display: inline-block;
      padding: 5px;

      @include hover {
        color: var(--accent-text-color);
      }
    }
  }

  .divider {
    /* pxtorem-disable-next-line */
    border: 0;
    /* pxtorem-disable-next-line */
    border-top: 1px solid #222;
    margin-bottom: 20px;
  }

  .bottom {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-inline: 10px;
    color: #444;
    font-size: 0.85rem;

    @include mobile-s {
      flex-direction: column;
      gap: 5px;
    }
    a {
      color: var(--auxiliary-text-color);
      text-decoration: none;
      @include hover {
        color: var(--main-text-color);
      }
    }

    span {
      color: var(--accent-text-color);
    }
  }
}

.logolink {
  max-width: 200px;
  aspect-ratio: 2;
  height: auto;
  @include laptop-s {
    display: none;
  }

  .logo {
    height: auto;
    width: 100%;
    opacity: 0.9;

    @include hover {
      opacity: 1;
    }
  }
}

//-----------------Иконки:-----------------------
.facebook {
  @include hover {
    color: #1877f2 !important;
  }
}

.twitter {
  @include hover {
    color: #1da1f2 !important;
  }
}

.youtube {
  @include hover {
    color: #ff0000 !important;
  }
}

.whatsapp {
  @include hover {
    color: #25d366 !important;
  }
}

.viber {
  @include hover {
    color: #7360f2 !important;
  }
}

.vk {
  @include hover {
    color: #0077ff !important;
  }
}

.tiktok {
  @include hover {
    color: #69c9d0 !important;
  }
}

.telegram {
  @include hover {
    color: #24a1de !important;
  }
}
