.footer {
  display: flex;
  justify-content: center;

  width: 100%;
  padding-block: 30px;

  /* pxtorem-disable-next-line */
  border-top: 1px solid var(--accent-text-color);

  color: var(--color-light);

  background: var(--main-bg-color);

  @include mobile-s {
    padding-block: 15px;
  }

  .container {
    width: 100%;
    max-width: var(--container-width);

    .top {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 10px;
      place-items: start center;

      width: 100%;
      margin: 0 auto;
      margin-bottom: 40px;

      @include tablet {
        grid-template-columns: 1fr 1fr;
      }

      @include mobile {
        gap: 5px;
      }

      @include mobile-s {
        grid-template-columns: 1fr;
        text-align: center;
      }

      li {
        position: relative;
      }
    }
  }

  .column,
  .supportColumn {
    display: flex;
    flex-direction: column;
    max-width: 200px;

    @include tablet {
      gap: 5px;
    }

    @include mobile-s {
      align-items: center;
    }

    h3 {
      width: fit-content;
      margin-bottom: 8px;

      /* pxtorem-disable-next-line */
      border-bottom: 2px solid var(--accent-text-color);

      font-size: 1.1rem;
      color: #fff;
      text-transform: uppercase;

      @include mobile-s {
        margin-top: 8px;
      }
    }

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none; // Убираем маркеры

      @include mobile-s {
        text-align: center;
      }

      li {
        line-height: 1.3;
      }

      a {
        position: relative;

        display: block;

        padding-block: 13.5px;

        color: var(--auxiliary-text-color);
        text-decoration: none;

        transition: color 0.2s;

        @include hover {
          color: var(--accent-text-color);
        }
      }
    }
  }

  .supportBtn {
    display: inline-block;

    margin-top: 10px;
    padding: 10px 20px;

    /* pxtorem-disable-next-line */
    border: 2px solid var(--accent-text-color);
    border-radius: 50px;

    font-weight: bold;
    color: var(--accent-text-color);
    text-align: center;

    @include mobile {
      margin-top: 0;
    }

    @include hover {
      color: var(--color-dark) !important;
      background-color: var(--accent-text-color);
    }
  }

  p {
    @include mobile {
      margin-bottom: 0;
    }
  }

  .contacts {
    a {
      display: block;
      padding-block: 10px;

      @include hover {
        color: var(--accent-text-color);
      }
    }
  }

  .divider {
    margin-bottom: 20px;
    border: 0;

    /* pxtorem-disable-next-line */
    border-top: 1px solid #222;
  }

  .bottom {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

    padding-inline: 10px;

    color: #444;

    @include mobile-s {
      flex-direction: column;
      gap: 5px;
    }

    a {
      color: var(--auxiliary-text-color);
      text-decoration: none;

      @include hover {
        color: var(--main-text-color);
      }
    }

    span {
      color: var(--accent-text-color);
    }
  }
}

.logolink {
  aspect-ratio: 2;
  max-width: 200px;
  height: auto;

  @include laptop-s {
    display: none;
  }

  .logo {
    width: 100%;
    height: auto;
    opacity: 0.9;

    @include hover {
      opacity: 1;
    }
  }
}
