.field {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: left;
}

.label {
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--main-text-color);
}

.input {
  width: 100%;
  min-height: 44px;
  margin-bottom: 1.25rem;
  padding: 0.5rem 1rem; // Было 0.75rem 1rem
  border-radius: 8px;

  font-size: 1rem;

  outline: none;

  transition: all 0.2s ease-in-out;

  &::placeholder {
    color: gray;
  }

  &:hover {
    box-shadow: 0 0 10px 0 var(--accent-text-color);
  }

  &:focus-visible {
    border: 2px solid var(--accent-text-color);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.7;
    background-color: #f5f5f5;
  }
}

// Убираем стрелочки у инпута с типом number::afterinput[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  margin: 0;
  appearance: none;
}

/* Для Firefox */
input[type="number"] {
  appearance: textfield;
}

// Состояние ошибки
.inputError {
  border: 2px solid var(--color-danger) !important;

  &:focus {
    box-shadow: 0 0 0 4px rgb(220 53 69 / 10%) !important;
  }
}

.errorText {
  margin-top: -2px;
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--color-danger) !important;
}

.centered {
  text-align: center;
}

// -----------Варианты:-------------//
.light {
  /* pxtorem-disable-next-line */
  border: 1.5px solid var(--auxiliary-bg-color-2);
  color: var(--color-dark);
  background-color: var(--color-light);
}

.dark {
  /* pxtorem-disable-next-line */
  border: 1px solid var(--main-text-color);
  color: var(--color-light);
  background-color: var(--auxiliary-bg-color-2);
}

.dark-full {
  /* pxtorem-disable-next-line */
  border: 1.5px solid var(--color-dark);
  color: var(--color-light);
  background-color: var(--auxiliary-bg-color-2);
}
