.hideOnTablet {
  @include tablet {
    display: none !important;
  }
}

.hideOnMobile {
  @include mobile {
    display: none !important;
  }
}

.senderCell {
  max-width: 140px;
  font-size: 0.85rem;

  // Перенос текста:
  overflow-wrap: break-word;

  .userName {
    font-weight: bold;
    color: var(--main-text-color);
  }

  .userEmail {
    color: var(--auxiliary-text-color);
  }

  .userPhone {
    font-size: 0.8rem;
    color: var(--auxiliary-text-color);
  }
}

.categoryBadge {
  padding: 2px 8px;

  /* pxtorem-disable-next-line */
  border: 1px solid var(--auxiliary-text-color);
  border-radius: 4px;

  font-size: 0.75rem;
  color: var(--accent-text-color);

  background: var(--auxiliary-bg-color-2);
}

.descriptionWrapper {
  max-width: 200px;

  .descriptionText {
    overflow: hidden;

    font-size: 0.85rem;
    color: var(--color-light);
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

select {
  &[data-status="OPEN"] {
    color: var(--color-danger) !important;
  }

  &[data-status="IN_PROGRESS"] {
    color: #3498db;
  }

  &[data-status="RESOLVED"] {
    color: var(--color-success);
  }
}

.actionsCell {
  max-width: 50px;
}
