.hideOnTablet {
  @include tablet {
    display: none !important;
  }
}

.hideOnMobile {
  @include mobile {
    display: none !important;
  }
}

.senderCell {
  max-width: 140px;

  font-size: 0.85rem;
  //Перенос текста:
  word-wrap: break-word;
  overflow-wrap: break-word;

  .userName {
    color: var(--main-text-color);
    font-weight: bold;
  }

  .userEmail {
    color: var(--auxiliary-text-color);
  }

  .userPhone {
    color: var(--auxiliary-text-color);
    font-size: 0.8rem;
  }
}

.categoryBadge {
  padding: 2px 8px;

  color: var(--accent-text-color);
  font-size: 0.75rem;

  background: var(--auxiliary-bg-color-2);
  /* pxtorem-disable-next-line */
  border: 1px solid var(--auxiliary-text-color);
  border-radius: 4px;
}

.descriptionWrapper {
  max-width: 200px;

  .descriptionText {
    color: var(--color-light);
    font-size: 0.85rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

select {
  &[data-status="OPEN"] {
    color: var(--color-danger) !important;
  }

  &[data-status="IN_PROGRESS"] {
    color: #3498db;
  }

  &[data-status="RESOLVED"] {
    color: var(--color-success);
  }
}

.actionsCell {
  max-width: 50px;
}
