.hideOnTablet {
  @include tablet {
    display: none !important;
  }
}

.hideOnMobile {
  @include mobile {
    display: none !important;
  }
}

.hideOnMobileS {
  @include mobile-s {
    display: none !important;
  }
}

.idWrapper {
  display: flex;
  gap: 8px;
  align-items: center;

  .code {
    font-size: 0.75rem;
    color: var(--auxiliary-text-color);
  }
}

.actionsWrapper {
  display: flex;
  gap: 12px;
}

.copyBtn,
.editBtn,
.deleteBtn,
.stockBtn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;
  margin: 0 !important;
  padding: 0;
  border: none !important;
  border-radius: 50%;

  color: var(--auxiliary-text-color) !important;

  background-color: transparent !important;

  @include hover {
    box-shadow: none !important;
  }
}

.copyBtn {
  @include hover {
    border: 0.5px solid var(--main-text-color) !important;
    border-radius: 50%;
    color: var(--main-text-color) !important;
  }
}

.editBtn {
  @include hover {
    border: 0.5px solid var(--accent-text-color) !important;
    border-radius: 50%;
    color: var(--accent-text-color) !important;
  }
}

.deleteBtn {
  @include hover {
    border: 0.5px solid var(--color-danger) !important;
    border-radius: 50%;
    color: var(--color-danger) !important;
  }
}

.stockBtn {
  @include hover {
    border: 0.5px solid var(--color-success) !important;
    border-radius: 50%;
    color: var(--color-success) !important;
  }
}
