.BrandCard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 18px;

  background: var(--auxiliary-bg-color-2);
  /* pxtorem-disable-next-line */
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 12px;
  text-decoration: none;

  transition: all 0.3s ease;

  @include tablet {
    padding: 18px 5px;
  }

  @include hover {
    background: var(--auxiliary-bg-color-2);
    border-color: var(--accent-text-color);
    box-shadow: 0 0 20px var(--accent-text-color);
    transform: scale(1.02);
  }
}

p {
  @include tablet {
    margin-bottom: 6px !important;
  }
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.name {
  margin: 0 0 8px 0;

  font-size: 1.4rem;
  color: var(--accent-text-color);
  text-align: center;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  color: rgba(255, 255, 255, 0.4);
}

.dot {
  color: var(--accent-text-color);
}

.frame {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  overflow: hidden;

  background-color: white;
  /* pxtorem-disable-next-line */
  border: 1px solid var(--accent-text-color);
  border-radius: 20%;
}

.logo {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  gap: 20px;
}

.count {
  padding-left: 2px;
}
