.pageWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.filterBar {
  display: flex;
  gap: 15px;

  padding: 15px;

  /* pxtorem-disable-next-line */
  border: 1px solid var(--accent-text-color);
  border-radius: 8px;

  background: var(--auxiliary-bg-color-2);

  @include mobile-s {
    flex-direction: column;
    gap: 0;
  }
}
