.pageWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.filterBar {
  display: flex;
  gap: 15px;
  background: var(--auxiliary-bg-color-2);
  padding: 15px;
  border-radius: 8px;
  border: 1px solid var(--accent-text-color);

  input,
  select {
    background: var(--main-bg-color);
    border: 1px solid solid var(--accent-text-color);
    padding: 8px 12px;
    border-radius: 4px;
    color: var(--main-text-color);
    &:focus {
      border-color: var(--accent-text-color);
      outline: none;
    }

    &::placeholder {
      color: var(--auxiliary-text-color);
    }
  }
}

.statusSelect {
  background: #1a1a1a;
  color: var(--accent-text-color);
  border: 1px solid #333;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.8rem;

  &:hover {
    border-color: var(--accent-text-color);
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
  color: var(--auxiliary-text-color);

  button {
    background: var(--auxiliary-bg-color-2);
    border: 1px solid var(--accent-text-color);
    color: var(--main-text-color);
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    &:disabled {
      opacity: 0.3;
      cursor: not-allowed;
    }
    &:hover:not(:disabled) {
      border-color: var(--accent-text-color);
      color: var(--accent-text-color);
    }
  }
}
