.container {
  max-width: var(--container-width);
  min-height: 80vh;
  margin: 40px auto;
  padding: 0 20px;

  @include mobile-s {
    margin-block: 20px;
  }

  .title {
    margin-top: 0;
    margin-bottom: 30px;

    font-size: 2rem;
    font-weight: 800;
    color: var(--accent-text-color);

    @include mobile-s {
      margin-bottom: 15px;
    }
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 25px;
}

.empty {
  padding: 80px 20px;

  /* pxtorem-disable-next-line */
  border: 1px dashed rgb(255 255 255 / 10%);
  border-radius: 12px;

  font-size: 1.1rem;
  color: var(--auxiliary-text-color);
  text-align: center;

  background: var(--auxiliary-bg-color-2);
}

// Текстовые состояния загрузки, ошибок и неавторизованного входа
.infoState {
  padding-top: 220px;
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;

  &.error {
    color: var(--color-danger);
  }

  &.loading {
    color: var(--main-text-color);
  }

  &.notAuth {
    color: var(--accent-text-color);
  }
}
