.pageWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .header {
    @include tablet {
      text-align: center;

      h3 {
        margin-block: 10px;
      }
    }

    button {
      max-width: 250px;
    }
  }
}
