.CheckoutPage {
  width: auto;
  max-width: 1200px;
  min-height: 80vh;
  margin: 40px auto;
  padding: 0 20px;

  @include mobile {
    margin-block: 20px;
  }

  .title {
    margin-bottom: 30px;
    font-size: 2.2rem;
    font-weight: 800;
    color: var(--accent-text-color);

    @include mobile {
      margin-bottom: 10px;
    }
  }
}

.content {
  display: grid;
  grid-template-columns: 1fr 400px;
  gap: 30px;
  align-items: flex-start;

  @include tablet {
    grid-template-columns: 1fr;
  }
}

.warehousesErrorMsg {
  padding: 40px;
  text-align: center;
}
