.motoCard {
  width: 500px;

  @include mobile {
    width: 380px;
  }

  @include mobile-s {
    width: 300px;
  }
}

.loading {
  height: 300px;
  border-radius: 12px;
  background: var(--auxiliary-bg-color);
}

.wrapper {
  margin: 40px 0;

  p {
    margin-bottom: 15px;
    font-size: 0.9rem;
    font-weight: bold;
    color: var(--color-light);
  }
}
