.section {
  display: flex;
  flex-direction: column;
  gap: 20px;

  box-sizing: border-box;
  width: 100%;
  padding: 25px;

  /* pxtorem-disable-next-line */
  border: 1px solid var(--accent-text-color);
  border-radius: 16px;

  background: var(--auxiliary-bg-color-2);

  h3 {
    margin-top: 0;
    margin-bottom: 20px;
    padding-bottom: 15px;

    /* pxtorem-disable-next-line */
    border-bottom: 1px solid rgb(255 255 255 / 10%);

    font-size: 1.3rem;
    color: #fff;

    @include mobile {
      margin: 0;
    }
  }
}

.previewList {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.miniItem {
  display: flex;
  justify-content: space-between;

  padding: 12px 0;

  /* pxtorem-disable-next-line */
  border-bottom: 1px solid rgb(255 255 255 / 3%);

  font-size: 1rem;
  color: rgb(255 255 255 / 70%);

  @include mobile-s {
    flex-direction: column;
    gap: 4px;
  }

  &:last-child {
    border-bottom: none;
  }

  span:last-child {
    font-weight: 700;
    color: var(--main-text-color);
  }
}
