.motorcycleModel {
  color: var(--color-light);
}

.warehouseCity {
  margin-left: 8px;
  color: var(--auxiliary-text-color);
}

.reservedCount {
  color: var(--auxiliary-text-color);
}

.quantityLow {
  color: var(--color-danger) !important;
}

.quantityMedium {
  color: var(--color-rating) !important;
}

.quantityHigh {
  color: var(--color-success) !important;
}

.hideOnMobile {
  @include mobile {
    display: none !important;
  }
}

.hideOnMobileS {
  @include mobile-s {
    display: none !important;
  }
}
