.motorcycleModel {
  color: var(--color-light);
}

.warehouseCity {
  color: var(--auxiliary-text-color);
  margin-left: 8px;
}

.reservedCount {
  color: var(--auxiliary-text-color);
}

.quantityLow {
  color: var(--color-danger) !important;
}

.quantityMedium {
  color: var(--color-rating) !important;
}

.quantityHigh {
  color: var(--color-success) !important;
}
