.userOrders {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 20px;

  a {
    &::before {
      content: "";

      position: absolute;
      bottom: -2px; // Позиция линии
      left: 0;

      width: 0; // В начале ширина 0
      height: 2px;

      background-color: var(--accent-text-color);

      transition: width 0.3s ease; // Анимация изменения ширины
    }

    &::after {
      content: "";

      position: absolute;
      top: 50%;
      left: 50%;
      translate: -50% -50%;

      width: 44px;
      height: 44px;
    }
  }

  @include tablet {
    gap: 12px;
  }

  @include mobile {
    display: none;
  }

  .iconBtn {
    cursor: pointer;

    position: relative;

    /* pxtorem-disable-next-line */
    border: none;

    font-size: 1.4rem;
    color: rgb(10 10 10 / 80%);

    background: none;

    transition: opacity 0.2s;

    @include hover {
      opacity: 0.7;
    }

    .counter {
      position: absolute;
      top: -7px;
      right: -7px;

      min-width: 18px;
      padding: 2px 6px;

      /* pxtorem-disable-next-line */
      border: 1px solid var(--color-dark);
      border-radius: 20px;

      font-size: 0.7rem;
      font-weight: 800;
      color: var(--color-dark);

      background: var(--accent-text-color);
    }
  }
}
