.Breadcrumbs {
  margin-bottom: 20px;
  padding-left: 10px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;

  margin: 0;
  padding: 0;

  list-style: none;
}

.item {
  position: relative;
  display: flex;
  align-items: center;
  color: var(--auxiliary-text-color);

  a {
    color: var(--auxiliary-text-color);
    text-decoration: none;
    transition: color 0.2s;

    @include hover {
      color: var(--accent-text-color);
    }

    &::after {
      content: "";

      position: absolute;
      top: 50%;
      right: 0;
      left: 0;
      transform: translateY(-50%);

      height: 44px;
    }
  }
}

.separator {
  margin: 0 8px;
  opacity: 0.3;
}

.current {
  font-weight: 500;
  color: var(--accent-text-color);
}
