.CartPage {
  width: auto;
  max-width: var(--container-width);
  min-height: 80vh;
  margin: 40px auto;
  padding: 0 20px;

  @include mobile {
    margin-top: 16px;
  }

  .title {
    margin-bottom: 30px;
    font-size: 2.2rem;
    font-weight: 800;
    color: var(--accent-text-color);

    @include mobile {
      margin-bottom: 10px;
    }
  }
}

.content {
  display: grid;
  grid-template-columns: 1fr 380px;
  gap: 30px;
  align-items: flex-start;

  @include laptop-s {
    grid-template-columns: 1fr;
  }

  .list {
    display: flex;
    flex-direction: column;
  }
}

// Верхняя панель управления корзиной:
.controls {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 20px;
  padding: 15px 20px;

  /* pxtorem-disable-next-line */
  border: 1px solid rgb(255 255 255 / 5%);
  border-radius: 12px;

  background: var(--auxiliary-bg-color-2);

  @include mobile-s {
    line-height: 1;
  }

  .checkboxLabel {
    cursor: pointer;

    position: relative;

    display: flex;
    gap: 10px;
    align-items: center;

    font-weight: 500;
    color: var(--accent-text-color);

    &::after {
      content: "";

      position: absolute;
      top: 50%;
      right: 0;
      left: 0;
      transform: translateY(-50%);

      height: 44px;
    }
  }

  .deleteSelected {
    cursor: pointer;

    padding-block: 10px;

    /* pxtorem-disable-next-line */
    border: none;

    font-weight: 600;
    color: var(--color-danger);

    background: none;

    transition: opacity 0.2s;

    @include hover {
      opacity: 0.8;
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.3;
    }
  }
}

.empty {
  padding: 150px 20px;
  font-size: 1.4rem;
  color: var(--accent-text-color);
  text-align: center;
}
