:root {
  padding: -40px;
}

.homePage {
  background: var(--basic-gradient);
}

.mainBannerSection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-height: 600px;

  @include desktop {
    height: 530px;
  }

  @include laptop {
    height: 460px;
  }

  @include laptop-s {
    height: 370px;
  }

  @include tablet {
    height: 330px;
  }
}

.mainBannerPartLeft {
  width: 100%;
  overflow: hidden;

  img {
    max-width: none;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.mainBannerPartRight {
  width: 100%;
  flex-grow: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .bannerImageText {
    max-width: 100%;
    height: auto;
    opacity: 0.9;
    position: absolute;
    top: 20%;

    @include mobile {
      top: 40%;
    }

    @include hover {
      opacity: 1;
    }
  }

  .attentionBlock {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0%;
    left: 50%;
    align-items: center;
    justify-content: center;
    translate: -50% -50%;
    width: 100%;
    padding-inline: 10px;

    span {
      color: var(--accent-text-color);
      font-size: 28px;
      font-weight: 800;
      -webkit-text-stroke: 0.5px var(--auxiliary-text-color);

      @include mobile {
        display: none;
      }
    }

    .attentionWrapper {
      background: var(--banner-gradient) !important;
      height: 50px;
      width: 146px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 24px;

      @include hover {
        background: var(--button-gradient) !important;
      }
    }

    .attentionBtn {
      margin: 0 auto;
      color: var(--accent-text-color);
      background-color: var(--main-bg-color);
      border-radius: 20px;
      height: 44px;
      width: 140px;
      /* pxtorem-disable-next-line */
      border: none !important;
      font-weight: 600;
      font-size: 20px;
      -webkit-text-stroke: 0.5px var(--auxiliary-text-color);

      @include hover {
        color: var(--reserve-text-color);
      }
    }
  }
}

//
.decoration-orange {
  width: 100%;
  height: 8px;
  background-image: url("src/shared/assets/images/decoration/texture-orange.png");
}
.decoration-blue {
  width: 100%;
  height: 8px;
  background-image: url("src/shared/assets/images/decoration/texture-blue.png");
}
.decoration-retro {
  width: 100%;
  height: 40px;
  background-image: url("src/shared/assets/images/decoration/texture-retro.png");
}
.decoration-doom {
  width: 100%;
  height: 8px;
  background-image: url("src/shared/assets/images/decoration/texture-doom.png");
}
//----------------------------------------------------------
.container {
  display: grid;
  gap: 5px;
  /* pxtorem-disable-next-line */
  border: 2px solid black;

  grid-template-areas:
    "cell-1 cell-2 sidebar-1"
    "cell-3 cell-4 sidebar-1";
  grid-template-columns: 1fr 1fr 1fr;

  @include tablet {
    grid-template-areas:
      "sidebar-1 sidebar-1"
      "cell-1 cell-2"
      "cell-3 cell-4";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto minmax(300px, auto) minmax(300px, auto);
  }

  @include mobile {
    grid-template-areas:
      "sidebar-1"
      "cell-1"
      "cell-2"
      "cell-3"
      "cell-4";
    grid-template-columns: 1fr;
    grid-template-rows: auto minmax(300px, auto) minmax(300px, auto);
  }

  .cell1,
  .cell2,
  .cell3,
  .cell4 {
    /* pxtorem-disable-next-line */
    border: 1px solid var(--accent-text-color);
    overflow: hidden;
    position: relative;
    max-height: 400px;
    width: 100%;

    @include tablet {
      max-height: 350px;
    }

    @include mobile {
      max-height: 320px;
    }

    @include mobile-s {
      // max-height: 250px;
    }
  }

  .cell1 {
    grid-area: cell-1;
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: center;

    p {
      color: var(--accent-text-color);
      margin-bottom: 10px;
      font-size: 20px;
      @include mobile {
        font-size: 16px;
      }
    }

    .teamImage {
      max-width: none;
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }

  .cell2 {
    grid-area: cell-2;

    .cellContainer {
      position: relative;
      height: 100%;
      width: 100%;
      overflow: hidden;

      background-image: url("src/shared/assets/images/animation/frame1.png");
      background-size: 100% 100%;
      background-position: center;
      background-repeat: no-repeat;

      @include hover {
        background-image: url("src/shared/assets/images/animation/background.gif");

        @media (prefers-reduced-motion: reduce) {
          background-image: url("src/shared/assets/images/animation/frame1.png");
          //Делаем статичное изображение, если у пользователя предпочтительно отключение анимации
        }
      }

      .motorcycleFrame {
        position: absolute;
        width: 240px;
        aspect-ratio: 16 / 9;
        bottom: -2%;
        left: 10%;

        //Слой, чтобы рама была выше колес:
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-image: url("src/shared/assets/images/animation/moto-frame.png");
          background-size: contain;
          background-repeat: no-repeat;
          z-index: 2; // Рама выше колес
        }

        //Тень под мотоциклом:
        &::after {
          content: "";
          position: absolute;
          bottom: 5%;
          left: 5%;
          width: 90%;
          height: 10px;
          background: rgba(211, 36, 202, 0.4);
          border-radius: 50%;
          filter: blur(5px);
          z-index: 0;
        }
      }

      .backWheel {
        position: absolute;
        width: 80px;
        height: 80px;
        bottom: 0%;
        left: -5%;
      }

      .frontWheel {
        position: absolute;
        width: 80px;
        height: 80px;
        bottom: -2%;
        left: 57%;
      }

      .smoke {
        position: absolute;
        width: 80px;
        height: 80px;
        bottom: 19%;
        left: -15%;
        z-index: 30;
      }
    }
  }

  .cell3 {
    grid-area: cell-3;
  }

  .cell4 {
    grid-area: cell-4;
  }

  .sidebar {
    grid-area: sidebar-1;
    /* pxtorem-disable-next-line */
    border: 1px solid var(--accent-text-color);
    overflow: hidden;
    position: relative;
    width: 100%;

    @include tablet {
      max-height: 400px;
    }
  }

  .textMain {
    color: var(--accent-text-color);
    font-size: 20px;
    padding-top: 10px;

    @include mobile {
      padding-top: 5px;
    }
  }

  .cont {
    display: flex;
    height: 100%;
    width: 100%;
  }

  .delCont {
    overflow: hidden;
    width: 50%;
    text-align: center;
    padding: 3px;

    @include laptop {
      p {
        font-size: 14px;
      }
    }

    @include mobile {
      overflow-y: auto;
      overflow-x: hidden;

      p {
        font-size: 14px;
      }
    }

    .delImage {
      width: 100%;
      height: 100%;
    }
  }
}
//--------------------------------------------

.brands {
  background-color: var(--auxiliary-bg-color-2);
  font-weight: 700;
  font-size: 30px;
  padding-top: 10px;
  color: var(--accent-text-color);
  -webkit-text-stroke: 1px var(--color-black);
  padding-left: 15px;

  @include mobile {
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    padding-inline: 5px;
    line-height: normal;
  }

  @include mobile-s {
    font-size: 20px;
    -webkit-text-stroke: 0.5px var(--color-black);
  }
}

//------------------
.reviewSection {
  font-size: 28px;
  padding-block: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;

  p {
    margin-bottom: 10px;
    @include mobile {
      font-size: 20px;
      padding-inline: 10px;
      margin-bottom: 0;
    }
  }
  .reviewContainer {
    width: 100%;
    max-width: var(--container-width);
    align-items: center;

    .reviewCardSection {
      padding-inline: 15px;
      max-width: 100vw;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-items: center;

      @include laptop {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (max-width: 650px) {
        grid-template-columns: 1fr;
      }
    }
  }
}
