:root {
  padding: -40px;
}

.homePage {
  background: var(--basic-gradient);
}

.mainBannerSection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-height: 600px;

  @include desktop {
    height: 530px;
  }

  @include laptop {
    height: 460px;
  }

  @include laptop-s {
    height: 370px;
  }

  @include tablet {
    height: 330px;
  }
}

.mainBannerPartLeft {
  width: 100%;
  overflow: hidden;

  img {
    max-width: none;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.mainBannerPartRight {
  width: 100%;
  // background: linear-gradient(to bottom right, black, darkblue);
  flex-grow: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .bannerImageText {
    max-width: 100%; /* Чтобы картинка не вылезала за края, если она большая */
    height: auto;
    opacity: 0.9;

    &:hover {
      opacity: 1;
    }
  }

  .attentionBlock {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0%;
    left: 50%;
    align-items: center;
    justify-content: center;
    translate: -50% -50%;
    width: 100%;
    padding-inline: 10px;

    span {
      color: var(--accent-text-color);
      font-size: 28px;
      font-weight: 800;
      -webkit-text-stroke: 0.5px var(--auxiliary-text-color);

      @include mobile {
        display: none;
      }
    }

    .attentionBtn {
      color: var(--accent-text-color);
      background-color: var(--main-bg-color);
      border-radius: 20px;
      height: 40px;
      width: 140px;
      border: 2px solid var(--accent-text-color);
      font-weight: 600;
      font-size: 20px;
      -webkit-text-stroke: 0.5px var(--auxiliary-text-color);

      &:hover {
        background-color: var(--main-bg-color);
        background-color: var(--accent-text-color);
        color: var(--main-text-color);
        border: 2px solid var(--main-bg-color);
      }
    }
  }
}

//
.decoration {
  width: 100%;
  height: 8px;
  background-image: url("../../../public/images/decoration/texture.png");
  background-repeat: repeat; //По умолчанию

  &:hover {
    opacity: 0.95;
  }
}
//--------------------------------------------
.container {
  display: grid;
  /* Задаем 3 колонки и 2 строки */
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, 1fr));
  gap: 5px;

  // grid-template-areas:
  //   "cell1 cell2 sidebar"
  //   "cell3 cell4 sidebar";
  height: 550px;

  // width: 100%;
  // background: linear-gradient(to bottom right, rgb(32, 6, 94), rgb(7, 7, 156));
  border: 2px solid black;

  .sidebar {
    // grid-area: sidebar;
    grid-column: 3; /* Третья колонка */
    grid-row: 1 / 3;

    width: 100%;
    height: 100%; /* Должно быть 100%, чтобы занять высоту Grid-area */
    display: block;

    overflow: hidden;
    position: relative;
  }

  .cell {
    border: 1px solid black;
    overflow: hidden; /* Важно: всё, что больше ячейки, будет обрезано */
    position: relative;

    //------------Анимация

    .cellContainer {
      position: relative;
      // display: inline-block;
      height: 100%;
      width: 100%;
      overflow: hidden;

      background-image: url("../../../public/animation/frame1.png");
      // background-size: cover;
      background-size: 100% 100%;
      background-position: center; /* чтобы центрировать картинку */
      background-repeat: no-repeat;

      &:hover {
        background-image: url("../../../public/animation/background.gif");
      }

      .motorcycleFrame {
        position: absolute;
        width: 240px; /* Размер всей рамы */
        aspect-ratio: 16 / 9; /* Укажите пропорции вашей картинки img1 */
        bottom: -2%;
        left: 10%;

        //Слой, чтобы рама была выше колес:
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-image: url("../../../public//animation/moto-frame.png");
          background-size: contain;
          background-repeat: no-repeat;
          z-index: 2; // Рама выше колес
        }

        //Тень под мотоциклом:
        &::after {
          content: "";
          position: absolute;
          bottom: 5%; /* Поднимаем/опускаем тень под колеса */
          left: 5%; /* Центрируем тень по горизонтали под рамой */
          width: 90%; /* Длина тени */
          height: 10px; /* Толщина тени */
          background: rgba(211, 36, 202, 0.4); /* Полупрозрачный черный */
          border-radius: 50%; /* Делаем овал */
          filter: blur(5px); /* Размываем края */
          z-index: 0; /* Самый нижний слой внутри рамы */
        }
      }

      .backWheel {
        position: absolute;
        width: 80px;
        height: 80px;
        bottom: 0%;
        left: -5%;
      }

      .frontWheel {
        position: absolute;
        width: 80px;
        height: 80px;
        bottom: -2%;
        left: 57%;
      }

      .smoke {
        position: absolute;
        width: 80px;
        height: 80px;
        bottom: 19%;
        left: -15%;
        z-index: 30;
      }
    }

    .textMain {
      color: orangered;
      font-size: 20px;
      padding-top: 10px;
    }

    .cont {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .delCont {
      overflow: hidden;
      width: 50%;
      text-align: center;

      .delImage {
        width: 100%;
      }
    }
  }

  .teamImage {
    width: 100%;

    object-fit: cover;
    display: block;
  }
}
//--------------------------------------------

.brands {
  background-color: var(--auxiliary-bg-color);
  font-weight: 700;
  font-size: 30px;
  padding-top: 10px;
  color: var(--accent-text-color);
  -webkit-text-stroke: 1px var(--color-black);
  padding-left: 15px;

  @include mobile {
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    padding-inline: 5px;
    line-height: normal;
  }

  @include mobile-s {
    font-size: 20px;
    -webkit-text-stroke: 0.5px var(--color-black);
  }
}

//------------------
.reviewSection {
  font-size: 28px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;

  p {
    margin-bottom: 10px;
    @include mobile {
      font-size: 20px;
      padding-inline: 10px;
      margin-bottom: 0;
    }
  }
  .reviewContainer {
    width: 100%;
    max-width: var(--container-width);
    align-items: center;

    .reviewCardSection {
      padding-inline: 15px;
      max-width: 100vw;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-items: center;

      @include laptop {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (max-width: 650px) {
        grid-template-columns: 1fr;
      }
    }
  }
}
