.selectWrapper {
  position: relative;

  width: 100%;

  select {
    /* pxtorem-disable-next-line */
    padding: 10px 40px 10px 12px;
    border-radius: 8px;

    width: 100%;
    min-height: 44px;

    font-size: 1rem;
    outline: none;

    cursor: pointer;
    /* Скрываем стандартную стрелку браузера */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    transition:
      border-color 0.2s,
      box-shadow 0.2s;

    /* Скрываем стрелку в старых IE */
    &::-ms-expand {
      display: none;
    }

    &::placeholder {
      color: gray;
    }

    &:hover {
      box-shadow: 0px 0px 10px 0px var(--accent-text-color);
    }

    &:focus-visible {
      /* pxtorem-disable-next-line */
      border: 2px solid var(--accent-text-color);
    }

    &:disabled {
      background-color: #f5f5f5;

      opacity: 0.7;

      cursor: not-allowed;
    }
  }

  .center {
    text-align: center;
  }

  .arrow {
    position: absolute;
    top: 50%;
    right: 16px;

    transform: translateY(-50%);

    width: 0;
    height: 0;
    /* pxtorem-disable-next-line */
    border-left: 5px solid transparent;
    /* pxtorem-disable-next-line */
    border-right: 5px solid transparent;
    /* pxtorem-disable-next-line */
    border-top: 6px solid var(--accent-text-color);

    /* Стрелочка не должна перехватывать клики мыши, они должны идти на сам select */
    pointer-events: none;
    transition: transform 0.2s ease;
  }
}

.inputError {
  /* pxtorem-disable-next-line */
  border: 2px solid red !important;
}

.parentWrapperRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.parentWrapperColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.leftLabel {
  align-items: start !important;
}

//------Варианты:--------//
.labelLight {
  color: var(--color-dark);
}

.labelDark {
  color: var(--color-light);
}

//-----------Варианты:-------------//
.light {
  /* pxtorem-disable-next-line */
  border: 1.5px solid var(--auxiliary-bg-color-2);

  background-color: var(--color-light);

  color: var(--color-dark);
}

.dark {
  /* pxtorem-disable-next-line */
  border: 1px solid var(--main-text-color);

  background-color: var(--auxiliary-bg-color-2);

  color: var(--color-light);
}

.dark-full {
  /* pxtorem-disable-next-line */
  border: 1.5px solid var(--color-dark);

  background-color: var(--auxiliary-bg-color-2);

  color: var(--color-light);
}
