.selectWrapper {
  position: relative;
  width: 100%;

  select {
    cursor: pointer;

    width: 100%;
    min-height: 44px;

    /* pxtorem-disable-next-line */
    padding: 10px 40px 10px 12px;
    border-radius: 8px;

    font-size: 1rem;

    /* Скрываем стандартную стрелку браузера */
    appearance: none;
    outline: none;

    transition:
      border-color 0.2s,
      box-shadow 0.2s;

    /* Скрываем стрелку в старых IE */
    &::-ms-expand {
      display: none;
    }

    &::placeholder {
      color: gray;
    }

    &:hover {
      box-shadow: 0 0 10px 0 var(--accent-text-color);
    }

    &:focus-visible {
      /* pxtorem-disable-next-line */
      border: 2px solid var(--accent-text-color);
    }

    &:disabled {
      cursor: not-allowed;
      color: var(--color-dark);
      opacity: 0.7;
      background-color: var(--auxiliary-text-color);
    }
  }

  .center {
    text-align: center;
  }

  .arrow {
    /* Стрелочка не должна перехватывать клики мыши, они должны идти на сам select */
    pointer-events: none;

    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);

    width: 0;
    height: 0;

    /* pxtorem-disable-next-line */
    border-top: 6px solid var(--accent-text-color);

    /* pxtorem-disable-next-line */
    border-right: 5px solid transparent;

    /* pxtorem-disable-next-line */
    border-left: 5px solid transparent;

    transition: transform 0.2s ease;
  }
}

.inputError {
  /* pxtorem-disable-next-line */
  border: 2px solid var(--color-danger) !important;
}

.parentWrapperRow {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.parentWrapperColumn {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
}

.leftLabel {
  align-items: start !important;
}

// ------Варианты:--------//
.labelLight {
  color: var(--color-dark);
}

.labelDark {
  color: var(--color-light);
}

// -----------Варианты:-------------//
.light {
  /* pxtorem-disable-next-line */
  border: 1.5px solid var(--auxiliary-bg-color-2);
  color: var(--color-dark);
  background-color: var(--color-light);
}

.dark {
  /* pxtorem-disable-next-line */
  border: 1px solid var(--main-text-color);
  color: var(--color-light);
  background-color: var(--auxiliary-bg-color-2);
}

.dark-full {
  /* pxtorem-disable-next-line */
  border: 1.5px solid var(--color-dark);
  color: var(--color-light);
  background-color: var(--auxiliary-bg-color-2);
}
