.header {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 40px;
  padding: 30px;

  /* pxtorem-disable-next-line */
  border: 1px solid var(--accent-text-color);
  border-radius: 12px;

  background: var(--auxiliary-bg-color-2);

  @include mobile {
    flex-direction: column;
  }

  @include mobile {
    h3 {
      margin-block: 10px;
      text-align: center;
    }
  }
}

.contentGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}

.tableSection {
  padding: 20px;

  /* pxtorem-disable-next-line */
  border: 1px solid var(--accent-text-color);
  border-radius: 12px;
  background: var(--auxiliary-bg-color-2);

  .sectionHeader {
    display: flex;
    gap: 10px;
    align-items: center;

    margin-bottom: 20px;

    color: var(--accent-text-color);

    h4 {
      margin: 0;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }
}

.sectionHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 20px;

  color: var(--accent-text-color);

  @include mobile {
    flex-direction: column;
  }

  h4 {
    margin: 0;
    text-transform: uppercase;
  }
}
