.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  max-width: var(--container-width);
  width: 100%;
  padding: 20px;
  align-self: center;
  justify-self: center;
}

.card {
  background-color: var(--auxiliary-bg-color-2);
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;

  @include mobile {
    padding: 20px;
  }

  h1 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 24px;
    font-weight: 600;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  button[type="submit"] {
    width: 100%;
    padding: 14px;
    background-color: var(--main-bg-color);
    color: var(--accent-text-color);
    /* pxtorem-disable-next-line */
    border: 1px solid var(--accent-text-color);
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;

    @include hover {
      background-color: var(--accent-text-color);
      color: var(--main-text-color);
    }

    &:disabled {
      background: #ccc;
      cursor: not-allowed;
    }
  }
}

.passwordWrapper {
  position: relative;
  width: 100%;
  margin-bottom: 15px;

  input {
    padding-right: 45px !important; //Место под глаз
    margin-bottom: 0 !important;
  }

  .eyeBtn {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);

    background: none;
    /* pxtorem-disable-next-line */
    border: none;
    padding: 5px;
    cursor: pointer;
    color: #999;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;

    @include hover {
      color: #000;
    }

    svg {
      width: 20px;
      height: 20px;
    }
  }
}

.error {
  color: var(--color-danger);
  font-size: 12px;
  margin: -10px 0 10px 5px;
  text-align: left;
}

//Убираем стандартный глаз в браузерах на движке Chromium (Edge, Chrome, Opera):
input::-ms-reveal,
input::-ms-clear {
  display: none;
}

//Для Chrome и Safari:
input::-webkit-contacts-auto-fill-button,
input::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
}
