.orderCard {
  background: var(--auxiliary-bg-color-2);
  border-radius: 12px;
  border: 1px solid var(--accent-text-color);
  overflow: hidden;
  margin-bottom: 24px;
  transition: border-color 0.3s ease;

  @include hover {
    border-color: var(--accent-text-color);
    box-shadow: 0 0 20px var(--accent-text-color);
  }
}

.topBar {
  background: var(--accent-bg-color);
  padding: 12px 24px;
  border-bottom: 1px solid var(--accent-text-color);
  color: var(--main-text-color);
  font-size: 0.9rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
}

.mainContent {
  display: grid;
  grid-template-columns: 220px 1fr;
  min-height: 160px;

  @include tablet {
    grid-template-columns: 1fr;
  }
}

.leftPanel {
  padding: 24px;
  background: var(--auxiliary-bg-color-2);
  border-right: 1px solid var(--accent-text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;

  @include tablet {
    border: none;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    flex-wrap: wrap;
    padding: 10px 14px;
  }

  .infoGroup {
    display: flex;
    flex-direction: column;
    gap: 4px;

    span {
      &:not(:first-child) {
        text-align: center;
      }
    }

    .label {
      font-size: 0.75rem;
      color: var(--auxiliary-text-color);
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    .value {
      font-size: 1.1rem;
      font-weight: 800;
      color: #fff;
    }

    .status {
      font-size: 0.85rem;
      font-weight: 700;
      padding: 4px 8px;
      border-radius: 8px;
      // width: fit-content;
      text-transform: uppercase;

      &.pending {
        background: var(--main-bg-color);
        color: var(--color-orange);
      }
      &.canceled {
        background: var(--main-bg-color);
        color: var(--color-danger);
      }
      &.paid {
        background: var(--main-bg-color);
        color: yellow;
      }
      &.delivery {
        background: var(--main-bg-color);
        color: #7cb4da;
      }
      &.delivered {
        background: var(--main-bg-color);
        color: var(--color-success);
      }
      &.completed {
        background: var(--main-bg-color);
        color: #fff;
      }
    }
  }
}

.itemsList {
  padding: 10px 0;
}

.productRow {
  display: flex;
  padding: 20px 24px;
  gap: 24px;
  align-items: center;
  border-bottom: 1px solid #222;

  @include tablet {
    padding: 0 10px;
    gap: 14px;
  }

  @include mobile {
    flex-direction: column;

    h4 {
      margin-top: 0;
    }
  }

  &:last-child {
    border-bottom: none;
  }
}

.imageWrapper {
  position: relative;
  width: 90px;
  height: 90px;
  flex-shrink: 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    border: 1px solid #333;
  }

  .quantityBadge {
    position: absolute;
    top: -8px;
    right: -8px;
    background: var(--accent-text-color);
    color: #000;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 0.75rem;
    font-weight: 900;
    border: 2px solid #1a1a1a;
  }
}

.productInfo {
  flex: 1;
  text-align: left;

  a {
    text-decoration: none;
  }

  h4 {
    font-size: 1.1rem;
    color: #fff;
    margin-bottom: 8px;
  }

  p {
    font-size: 0.85rem;
    color: #888;
    margin-bottom: 4px;

    span {
      color: #ccc;
    }
  }

  .address {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px dotted #333;
    font-size: 0.8rem;
    line-height: 1.4;
  }
}

.actionButtons {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 12px;

  button {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    font-weight: 700;
    font-size: 0.85rem;
    cursor: pointer;
    transition: all 0.2s;
  }
}

.reviewBtn {
  background: #f39c12;
  color: #000;
  border: none;
  border-radius: 10px;
  min-height: 30px;
  font-weight: 600;
  @include hover {
    background: #e67e22;
  }
}

.reviewedBtn {
  background: #222 !important;
  color: #555 !important;
  border: 1px solid #333 !important;
  border-radius: 10px;
  min-height: 25px;
  cursor: default !important;
  font-weight: 500;

  @include hover {
    background: #222 !important;
  }
}

.cancelBtn {
  background: transparent;
  color: #e74c3c;
  border: 1px solid #e74c3c;
  border-radius: 10px;
  min-height: 30px;
  font-weight: 600;

  @include tablet {
    align-self: end;
  }

  @include hover {
    background: rgba(231, 76, 60, 0.1);
  }
}

.confirmBtn {
  background: var(--color-success);
  color: #fff;
  border: none;
  border-radius: 10px;
  min-height: 30px;
  font-weight: 600;

  @include tablet {
    align-self: end;
  }

  @include hover {
    opacity: 0.8;
  }
}

//--------------Модалка отмены заказа:------------//
.modalOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.85);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5000;
}

.modalContent,
.modalContentSuccess {
  background: var(--auxiliary-bg-color);
  border-radius: 20px;
  padding: 30px;
  max-width: 400px;
  width: 90%;
  text-align: center;
}

.modalContent {
  border: 1px solid var(--color-danger);
}

.modalContentSuccess {
  border: 1px solid var(--color-success);
}

.modalTitle,
.modalTitleSuccess {
  text-transform: uppercase;
  margin-bottom: 20px;
  letter-spacing: 2px;
}

.modalTitle {
  color: var(--color-danger);
}

.modalTitleSuccess {
  color: var(--color-success);
}

.modalText {
  margin-bottom: 30px;
  span {
    color: #888;
    font-family: monospace;
  }
}

.modalActions {
  display: flex;
  gap: 15px;
  button {
    flex: 1;
    padding: 12px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid var(--accent-color);
  }
}

.btnDanger {
  background: inherit;
  color: var(--auxiliary-text-color);

  @include hover {
    color: var(--color-danger);
  }
}

.btnSecondary {
  background: transparent;
  color: var(--main-text-color);
  border-color: #444;

  @include hover {
    color: var(--accent-text-color);
  }
}

.btnSuccess {
  background: inherit;
  color: var(--main-text-color);

  @include hover {
    color: var(--color-success);
  }
}

.btnSecondarySuccess {
  background: transparent;
  color: var(--auxiliary-text-color);

  @include hover {
    color: var(--main-text-color);
  }
}
