.SelectFilter {
  margin-bottom: 24px;
}

.label {
  color: var(--auxiliary-text-color);
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.selectWrapper {
  position: relative;
  width: 100%;
}

.select {
  width: 100%;
  appearance: none; //Убираем стандартную стрелочку
  background: var(--main-bg-color);
  /* pxtorem-disable-next-line */
  border: 1px solid var(--auxiliary-text-color);
  color: var(--main-text-color);
  padding: 5px 16px;
  border-radius: 8px;
  font-size: 0.9rem;
  outline: none;
  cursor: pointer;
  transition: all 0.2s ease;
  height: 44px;

  &:focus {
    border-color: var(--accent-text-color);
  }

  option {
    background: var(--main-bg-color);
    color: var(--main-text-color);
  }
}

.arrow {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--accent-text-color);
  font-size: 0.7rem;
  pointer-events: none; //Чтобы клик проходил сквозь стрелку в селект
}
