.pageWrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;

  h3 {
    padding-left: 15px;

    color: var(--color-light);
    font-size: 1.5rem;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 1px;

    /* pxtorem-disable-next-line */
    border-left: 4px solid var(--accent-text-color);
  }
}

.modelTitle {
  color: var(--accent-text-color);
  margin-left: 10px;
}
