.container {
  max-width: var(--container-width);
  margin: 60px auto;
  padding: 0 20px;
  line-height: 1.6;

  h1 {
    margin-bottom: 30px;
    font-size: 32px;
    text-align: center;
  }

  h2 {
    margin-top: 40px;
    margin-bottom: 15px;
    font-size: 22px;
  }

  h4 {
    color: var(--accent-text-color);
    text-decoration: underline;
    text-align: center;
  }

  p {
    margin-bottom: 15px;
  }
}

ol,
ul {
  padding-left: 0; /* Убирает внутренний отступ слева */
  margin-left: 0; /* Убирает внешний отступ слева */
  list-style-position: inside; /* Номер/маркер будет внутри текстового блока */
  text-align: left; /* Явное выравнивание текста по левому краю */
}

footer {
  text-align: center;
}
