@use "helpers" as *;

body {
  @include fluid-text(18, 14);
  background-color: var(--main-bg-color);
  cursor: var(--cursor-path), auto; //Кастомный курсор

  input,
  textarea,
  select {
    @include fluid-text(18, 16); //Борьба с зумом на iPhone
  }

  input::placeholder {
    @include fluid-text(18, 16);
  }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: var(--main-text-color);
  font-family: var(--font-family-base);
  font-family: var(--main-text-font);
}

p,
a {
  color: var(--main-text-color);
}

a,
p,
input,
select,
textarea,
button,
label,
strong,
span,
div {
  font-family: var(--main-text-font);
}

a {
  text-decoration: none;
}

h1,
.h1 {
  @include fluid-text(60, 25);

  line-height: 1.2;
}

h2,
.h2 {
  @include fluid-text(50, 23);

  line-height: 1.3;
}

h3,
.h3 {
  @include fluid-text(40, 24);
}

h4,
.h4 {
  @include fluid-text(26, 18);
}

h5,
.h5 {
  @include fluid-text(24, 18);
}

h6,
.h6 {
  @include fluid-text(20, 16);
}

//Отключаем анимацию, если пользователь в настройках операционной системы режим «Уменьшение движения»:
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}
