// @use "fonts";
@use "helpers" as *;

:root {
  //Шрифты отдельно:
  --font-family-base: "Tektur", sans-serif;
  --font-family-accent-eng-basic: "Orbitron", sans-serif;
  --font-family-accent-eng-title: "BlackOpsOne", sans-serif;
  --font-family-doom-rus: "Rubik Wet Paint", sans-serif; //DOOM
  --font-family-doom-eng: "StalinistOne", sans-serif; //DOOM

  //Цвета:
  --color-light: #ffffff;
  --color-dark: #000000;
  --color-orange: #f39c12;
  --color-danger: #e7110a;
  --color-rating: #f1c40f;
  --color-success: #2ecc71;

  //Темы:
  body.theme-orange {
    --main-text-color: var(--color-light);
    --accent-text-color: var(--color-orange);
    --auxiliary-text-color: rgba(255, 255, 255, 0.4);
    --main-bg-color: #111; //Главный цвет фона
    --accent-bg-color: var(--color-orange);
    --auxiliary-bg-color: #1a1a1a;
    --main-text-font: var(--font-family-base);
  }

  body.theme-blue {
    --accent-color: #1c4cb3;
    --bg-color: #ecd713;
  }

  body.theme-retrowave {
    --accent-color: #ee31bf;
  }

  body.theme-doom {
    --main-text-font: var(--font-family-doom-rus);
  }

  //----------------------Контейнер:-----------------------------//
  --container-width: 1520px;

  //На 1600px и менее:
  @include desktop {
    --container-width: 1320px;
  }

  //На 1441px и менее:
  @include laptop {
    --container-width: 1140px;
  }

  //На 1200px и менее:
  @include laptop-s {
    --container-width: 960px;
  }

  //На 1024px и менее:
  @include tablet {
    --container-width: 720px;
  }

  //На 768px и менее стремимся к контейнеру в width 100% с небольшими отступами (16-24px) по бокам
  //---------------------------------------------------------------//

  //Левое, мб пригодится:
  --transition-duration: 0.2s;
  //   --container-width: #{rem(1600)};
  //   --container-padding-x: #{rem(16)};
  //   --100vw: calc(100vw - var(--scrollbar-width));
  --gradient: linear-gradient(
    45deg,
    var(--color-dark-15) 64%,
    var(--color-accent) 136%
  );

  //   linear-gradient(to bottom right, black, darkblue);

  //   --border: #{rem(1)} solid var(--color-dark-15);

  //   --shadow: 0 0 0 #{rem(3)} #191919;
}
