.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 120px;
  // padding: 0.75rem 1.5rem;
  padding: 4px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  width: 70%;
  gap: 8px;
  overflow: hidden; //Чтобы лоадер не вылезал за края

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  &:active {
    transform: scale(0.98);
  }
}

// Варианты кнопок
.primary {
  background-color: var(--accent-text-color);
  color: var(--main-text-color);

  &:hover:not(:disabled) {
    background-color: var(--main-text-color);
    color: var(--accent-text-color);
    // border: 1px solid var(--accent-text-color);
  }
}

.secondary {
  background-color: var(--auxiliary-bg-color);
  border: 1px solid var(--main-text-color);
  color: white;

  &:hover:not(:disabled) {
    background-color: var(--auxiliary-text-color);
  }
}

.outline {
  background-color: var(--auxiliary-bg-color);
  border: 1px solid var(--primary-color, var(--accent-text-color));
  color: var(--primary-color, var(--accent-text-color));

  &:hover:not(:disabled) {
    background-color: var(--accent-text-color) !important;
    color: var(--main-text-color);
  }
}

.danger {
  background-color: var(--color-dark);
  border: 1px solid var(--color-danger);
  color: var(--color-danger);

  &:hover:not(:disabled) {
    background-color: var(--color-danger);
    color: var(--color-light);
  }
}
