.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 120px;
  max-width: 300px;
  min-height: 44px; //Для accessibility
  box-sizing: border-box;
  gap: 8px;
  padding-block: 8px;
  padding-inline: 16px;

  font-size: 1rem;
  white-space: normal; //Перенос строк
  text-align: center; //Текст по центру при переносе

  border: none; //Граница будет задаваться вариантами
  border-radius: 8px;
  cursor: pointer;
  overflow: hidden; //Чтобы лоадер не вылезал за края

  transition: all var(--transition-duration) ease;

  &:disabled {
    cursor: not-allowed;

    opacity: 0.6;

    &:hover {
      background-color: transparent;
      border: 1px solid var(--auxiliary-text-color);
    }
  }

  //Сжатие при нажатии:
  &:active {
    transform: scale(0.97);
  }

  // Стили для ссылки в состоянии disabled
  &.disabledLink {
    pointer-events: none;
    opacity: 0.4;
    cursor: not-allowed;
  }
}

.bold {
  font-weight: 600;
}

//-----------------------------------Варианты кнопок:----------------------------//
.primary {
  color: var(--main-text-color);

  background-color: var(--accent-text-color);

  @include hover {
    &:not(:disabled) {
      color: var(--accent-text-color);

      background-color: var(--main-text-color);
    }
  }

  &:focus-visible {
    outline: 3px dotted var(--main-text-color);
  }
}

.secondary {
  color: white;

  background-color: var(--auxiliary-bg-color-2);
  /* pxtorem-disable-next-line */
  border: 1px solid var(--main-text-color);

  @include hover {
    &:not(:disabled) {
      background-color: var(--auxiliary-text-color);
    }
  }

  &:focus-visible {
    outline: 3px dotted var(--accent-text-color);
  }
}

.outline {
  color: var(--accent-text-color);

  background-color: var(--auxiliary-bg-color-2);
  /* pxtorem-disable-next-line */
  border: 1px solid var(--accent-text-color);

  @include hover {
    &:not(:disabled) {
      color: var(--main-text-color);

      background-color: var(--accent-text-color);
    }
  }

  &:focus-visible {
    outline: 3px dotted var(--main-text-color);
  }
}

.outline-dark {
  color: var(--accent-text-color);

  background-color: var(--auxiliary-bg-color);
  /* pxtorem-disable-next-line */
  border: 1px solid var(--accent-text-color);

  @include hover {
    &:not(:disabled) {
      color: var(--main-text-color);

      background-color: var(--accent-text-color);
    }
  }

  &:focus-visible {
    outline: 3px dotted var(--main-text-color);
  }
}

.danger {
  color: var(--color-danger);

  background-color: var(--color-dark);
  /* pxtorem-disable-next-line */
  border: 1px solid var(--color-danger);

  @include hover {
    &:not(:disabled) {
      color: var(--color-light);

      background-color: var(--color-danger);
    }
  }

  &:focus-visible {
    outline: 3px dotted var(--main-text-color);
  }
}

.cancel {
  color: var(--color-danger);

  background-color: var(--auxiliary-bg-color);
  /* pxtorem-disable-next-line */
  border: 1px solid var(--color-danger);

  @include hover {
    &:not(:disabled) {
      color: var(--color-light);

      background-color: var(--color-danger);
    }
  }

  &:focus-visible {
    outline: 3px dotted var(--main-text-color);
  }
}

.simple {
  color: gray;
  background-color: transparent;
  border: none;

  text-decoration: underline;

  @include hover {
    &:not(:disabled) {
      color: var(--color-light);
    }
  }

  &:focus-visible {
    outline: 1px dotted var(--color-light);
  }
}

.success {
  color: var(--color-light);
  background-color: var(--color-success);
  border: none;

  @include hover {
    &:not(:disabled) {
      /* pxtorem-disable-next-line */
      border: 1px solid var(--color-light);
      box-shadow: 0 0 10px var(--color-success);
    }
  }

  &:focus-visible {
    outline: 3px dotted var(--main-text-color);
  }
}

.review {
  color: var(--color-dark);

  background-color: var(--accent-text-color);

  @include hover {
    &:not(:disabled) {
      color: var(--accent-text-color);

      background-color: var(--main-text-color);
    }
  }

  &:focus-visible {
    outline: 3px dotted var(--main-text-color);
  }
}

.parade {
  color: var(--accent-text-color);
  background-color: var(--auxiliary-bg-color-2);
  border: none;

  @include hover {
    &:not(:disabled) {
      color: var(--reserve-text-color);
    }
  }

  &:focus-visible {
    outline: 3px dotted var(--main-text-color);
  }
}
