.eyeBtn {
  cursor: pointer;

  position: absolute;
  right: 10px;

  display: flex;
  align-items: center;

  /* pxtorem-disable-next-line */
  border: none;

  font-size: 18px;
  color: var(--accent-text-color);

  background: none;
}

.row {
  grid-template-columns: 180px 1fr;
  align-items: center;
  padding: 22px 0;

  // /* pxtorem-disable-next-line */
  border-bottom: 1px solid var(--accent-text-color);

  &:last-child {
    /* pxtorem-disable-next-line */
    border: none;
  }
}

.label {
  display: flex;
  gap: 12px;
  align-items: center;
  color: #8e8e93;
}

.value {
  font-weight: 500;
  text-align: left;

  input {
    width: 100%;
    min-height: 44px;
    padding: 0.5rem 1rem;

    /* pxtorem-disable-next-line */
    border: 1px solid var(--main-bg-color);
    border-radius: 8px;

    outline: none;

    // background-color: rgb(102, 93, 93);

    &:hover {
      box-shadow: 0 0 10px 0 var(--accent-text-color);
    }

    &:focus-visible {
      border: 2px solid var(--accent-text-color);
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.7;
      background-color: var(--color-light);
    }
  }

  .readonly {
    cursor: not-allowed;
    color: #aaa;
  }
}

// Для смены пароля:
.passwordWrapper {
  position: relative;
  display: flex;
  align-items: center;

  input {
    width: 100%;
    padding-right: 40px !important;
  }
}

// Ошибки:
.inputError {
  border: 2px solid var(--color-danger) !important;
  background-color: var(--color-light) !important;
}

.errorText {
  margin-top: -2px;
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--color-danger) !important;
}
