.eyeBtn {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  color: #888;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 18px;
}

.row {
  display: grid;
  grid-template-columns: 180px 1fr; // Чуть сузим колонку с лейблом
  padding: 22px 0; // Сделаем вертикальные отступы чуть больше
  border-bottom: 1px solid #f0f0f0;
  align-items: center; // Центрируем контент по вертикали

  &:last-child {
    border: none; // У последнего ряда не должно быть линии
  }
}

.label {
  display: flex;
  align-items: center;
  gap: 12px; // Увеличим расстояние между иконкой и текстом
  color: #8e8e93; // Сделаем цвет чуть более приглушенным
  font-size: 14px;
}

.value {
  font-weight: 500;
  input {
    width: 100%;
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
    &:focus {
      border-color: #000;
    }
  }
  .readonly {
    color: #aaa;
    cursor: not-allowed;
  }
}

//Для смены пароля:
.passwordWrapper {
  position: relative;
  display: flex;
  align-items: center;

  input {
    width: 100%;
    padding-right: 40px !important;
  }
}

//Ошибки:
.inputError {
  border-color: #ff4d4f !important; // Ярко-красная рамка
  background-color: #fff2f0 !important; // Нежно-розовый фон
}
