.eyeBtn {
  position: absolute;
  right: 10px;
  background: none;
  /* pxtorem-disable-next-line */
  border: none;
  color: var(--accent-text-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 18px;
}

.row {
  // display: grid;
  grid-template-columns: 180px 1fr;
  padding: 22px 0;
  // /* pxtorem-disable-next-line */
  border-bottom: 1px solid var(--accent-text-color);
  align-items: center;

  &:last-child {
    /* pxtorem-disable-next-line */
    border: none;
  }
}

.label {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #8e8e93;
  font-size: 14px;
}

.value {
  font-weight: 500;
  input {
    width: 100%;
    padding: 8px 12px;
    /* pxtorem-disable-next-line */
    border: 1px solid var(--main-bg-color);
    border-radius: 8px;
    outline: none;
    // background-color: rgb(102, 93, 93);
    &:focus {
      /* pxtorem-disable-next-line */
      border: 2px solid var(--accent-text-color);
      color: var(--accent-text-color);
    }
  }
  .readonly {
    color: #aaa;
    cursor: not-allowed;
  }
}

//Для смены пароля:
.passwordWrapper {
  position: relative;
  display: flex;
  align-items: center;

  input {
    width: 100%;
    padding-right: 40px !important;
  }
}

//Ошибки:
.inputError {
  border-color: var(--color-danger) !important;
  background-color: #fff2f0 !important;
}
